SC_SFDC/nobelbiocare.com/p_sfdc/pr/pm/re/flow_control/_comp/src/wsdl/MI286_BPM_ControlFlow_NextStep_os.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:p2="http://sap.com/xi/BASIS/Global" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI286_BPM_ControlFlow_NextStep_os" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>6798adb1f1ce11e684500000005f8a66</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="chpeji"/>
      <changed by="chpeji" on="1486978734696"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="1eba1ac20b303e47a46a16560afc4ecf"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="MI286_BPM_ControlFlow_NextStep_os">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="MT_Chain_Res">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_Chain_Res</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:technicalNamespace>
        <ifw:VersionID>d24fb6f4f1ce11e695f80000005f8a66</ifw:VersionID>
        <ifw:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:xmlNamespace>
        <ifw:dataType name="DT_Chain_Res" namespace="http://nobelbiocare.com/BPM/SFDC/Revenue" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_Chain_Res~namespace=http://nobelbiocare.com/BPM/SFDC/Revenue~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"/>
      </ifw:message>
      <ifw:message name="p2.StandardMessageFault">
        <ifw:messType>ifmfaultm</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">StandardMessageFault</ifw:elem>
          <ifw:elem id="NAMESPACE">http://sap.com/xi/BASIS/Global</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://sap.com/xi/BASIS/Global</ifw:technicalNamespace>
        <ifw:VersionID>dabba660701411dcb5de0017a4aa3b42</ifw:VersionID>
        <ifw:xmlNamespace>http://sap.com/xi/BASIS/Global</ifw:xmlNamespace>
        <ifw:dataType name="ExchangeFaultData" namespace="http://sap.com/xi/BASIS/Global" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=ExchangeFaultData~namespace=http://sap.com/xi/BASIS/Global~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"/>
      </ifw:message>
      <ifw:message name="MT_Chain_Req">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_Chain_Req</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:technicalNamespace>
        <ifw:VersionID>c4ba2a3bf1ce11e6b3910000005f8a66</ifw:VersionID>
        <ifw:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:xmlNamespace>
        <ifw:dataType name="DT_Chain_Req" namespace="http://nobelbiocare.com/BPM/SFDC/Revenue" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_Chain_Req~namespace=http://nobelbiocare.com/BPM/SFDC/Revenue~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
        <ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_1eba1ac20b303e47a46a16560afc4ecf_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/SFDC/Revenue</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_MI286_BPM_ControlFlow_NextStep_os"/>
  <wsdl:types>
    <xsd:schema xmlns="http://sap.com/xi/BASIS/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/BASIS/Global">
      <xsd:element name="StandardMessageFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="standard" type="ExchangeFaultData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ExchangeFaultData">
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string"/>
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="faultDetail" type="ExchangeLogData"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeLogData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string"/>
          <xsd:element name="text" type="xsd:string"/>
          <xsd:element minOccurs="0" name="url" type="xsd:string"/>
          <xsd:element minOccurs="0" name="id" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:element name="MT_Chain_Req" type="DT_Chain_Req"/>
      <xsd:element name="MT_Chain_Res" type="DT_Chain_Res"/>
      <xsd:complexType name="DT_Chain_Req">
        <xsd:sequence>
          <xsd:element name="CHAIN" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Chain_Res">
        <xsd:sequence>
          <xsd:element name="LOGID" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Chain_Req">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_Chain_Req" name="MT_Chain_Req"/>
  </wsdl:message>
  <wsdl:message name="MT_Chain_Res">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_Chain_Res" name="MT_Chain_Res"/>
  </wsdl:message>
  <wsdl:message name="p2.StandardMessageFault">
    <wsdl:documentation>Standard Message Fault</wsdl:documentation>
    <wsdl:part element="p2:StandardMessageFault" name="StandardMessageFault"/>
  </wsdl:message>
  <wsdl:portType name="MI286_BPM_ControlFlow_NextStep_os">
    <wsdl:documentation/>
    <wsdl:operation name="MI286_BPM_ControlFlow_NextStep_os">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_MI286_BPM_ControlFlow_NextStep_os"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_Chain_Req"/>
      <wsdl:output message="p1:MT_Chain_Res"/>
      <wsdl:fault message="p1:p2.StandardMessageFault" name="p2.StandardMessageFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI286_BPM_ControlFlow_NextStep_osBinding" type="p1:MI286_BPM_ControlFlow_NextStep_os">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MI286_BPM_ControlFlow_NextStep_os">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="p2.StandardMessageFault">
        <soap:fault xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="p2.StandardMessageFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
