t/D4193CFD60960F38BBBB32068F975AFE/tmp/wsdls/nobelbiocare.com~p_sfdc~pr~pm~cu~customer_sync/MI276_BPM_SendAleaud_oa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/SFDC/Customer" name="MI276_BPM_SendAleaud_oa" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/SFDC/Customer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns1:UsingPolicy>
  <ns2:properties xmlns:ns2="urn:com-sap:ifr:v2:wsdl">
    <ns2:category>ifmmessif</ns2:category>
    <ns2:VersionID>4a7091500fe011e7ac800000005f8a66</ns2:VersionID>
    <ns2:lifeCycleInfo>
      <objectState></objectState>
      <objectstatus value="A"></objectstatus>
      <personresponsible value="chpeji"></personresponsible>
      <changed by="chpeji" on="1490284167191"></changed>
    </ns2:lifeCycleInfo>
    <ns2:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"></ns2:runtimeVersion>
    <ns2:communicationProfile uri="prf_dt_if_com_stateless"></ns2:communicationProfile>
    <ns2:securityProfile uri="prf_dt_if_sec_basic"></ns2:securityProfile>
    <ns2:interfacePattern p2p="true"></ns2:interfacePattern>
    <ns2:isSensitiveData>false</ns2:isSensitiveData>
    <ns2:classifications>
      <ns2:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"></ns2:classification>
      <ns2:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="b29c275eb5d833519d73efce7c6e11e0"></ns2:classification>
    </ns2:classifications>
    <ns2:additionalAttributes></ns2:additionalAttributes>
    <ns2:methods>
      <ns2:method name="MI276_BPM_SendAleaud_oa">
        <ns2:isSynchron>false</ns2:isSynchron>
        <ns2:isIdempotent>false</ns2:isIdempotent>
        <ns2:isInbound>false</ns2:isInbound>
        <ns2:interfaceCategory>outbound</ns2:interfaceCategory>
        <ns2:communicationProfile uri="prf_dt_op_com_async"></ns2:communicationProfile>
        <ns2:contextobjects></ns2:contextobjects>
      </ns2:method>
    </ns2:methods>
    <ns2:messages>
      <ns2:message name="MT_ResultNotification">
        <ns2:messType>ifmmessage</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">MT_ResultNotification</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Customer</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Customer</ns2:technicalNamespace>
        <ns2:VersionID>8a4a3dc30fc011e797c50000005f8a66</ns2:VersionID>
        <ns2:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Customer</ns2:xmlNamespace>
        <ns2:dataType name="DT_ResultNotification" namespace="http://nobelbiocare.com/BPM/SFDC/Customer" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_ResultNotification~namespace=http://nobelbiocare.com/BPM/SFDC/Customer~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"></ns2:dataType>
      </ns2:message>
    </ns2:messages>
    <ns2:matchingInterfaces></ns2:matchingInterfaces>
    <ns2:genericProperties>
      <ns2:swcvinfo>
        <ns2:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns2:guid>
        <ns2:name>BPM, 1.0 of nobelbiocare.com</ns2:name>
      </ns2:swcvinfo>
      <ns2:languages>
        <ns2:language internalCode="EN" original="true"></ns2:language>
      </ns2:languages>
      <ns2:documentation type="I">
        <name>_ID_b29c275eb5d833519d73efce7c6e11e0_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/SFDC/Customer</namespace>
      </ns2:documentation>
    </ns2:genericProperties>
  </ns2:properties>
  <ns3:Policy xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/09/policy" ns4:Id="OP_MI276_BPM_SendAleaud_oa" xmlns:ns4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"></ns3:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nobelbiocare.com/BPM/SFDC/Customer">
      <xsd:complexType name="DT_ResultNotification">
        <xsd:sequence>
          <xsd:element name="Docnum" type="xsd:string"></xsd:element>
          <xsd:element name="Result" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Error" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="sfdcid" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="Text" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="SplitText" type="xsd:string" minOccurs="0"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MT_ResultNotification" type="tns:DT_ResultNotification"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_ResultNotification">
    <wsdl:part name="MT_ResultNotification" element="tns:MT_ResultNotification"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MI276_BPM_SendAleaud_oa">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="MI276_BPM_SendAleaud_oa">
      <wsdl:documentation></wsdl:documentation>
      <ns5:Policy xmlns:ns5="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns5:PolicyReference URI="#OP_MI276_BPM_SendAleaud_oa"></ns5:PolicyReference>
      </ns5:Policy>
      <wsdl:input message="tns:MT_ResultNotification"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI276_BPM_SendAleaud_oaBinding" type="tns:MI276_BPM_SendAleaud_oa">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="MI276_BPM_SendAleaud_oa">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
