t/D4193CFD60960F38BBBB32068F975AFE/tmp/wsdls/nobelbiocare.com~p_sfdc~pr~pm~cu~customer_sync/MI290_BPM_CustomerCreditCard_Set_os.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/SFDC/Customer" name="MI290_BPM_CustomerCreditCard_Set_os" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/SFDC/Customer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns1:UsingPolicy>
  <ns2:properties xmlns:ns2="urn:com-sap:ifr:v2:wsdl">
    <ns2:category>ifmmessif</ns2:category>
    <ns2:VersionID>757d2ab90a3311e7c1bb0000005f8a66</ns2:VersionID>
    <ns2:lifeCycleInfo>
      <objectState></objectState>
      <objectstatus value="A"></objectstatus>
      <personresponsible value="chpeji"></personresponsible>
      <changed by="chpeji" on="1489660178637"></changed>
    </ns2:lifeCycleInfo>
    <ns2:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"></ns2:runtimeVersion>
    <ns2:communicationProfile uri="prf_dt_if_com_stateless"></ns2:communicationProfile>
    <ns2:securityProfile uri="prf_dt_if_sec_basic"></ns2:securityProfile>
    <ns2:interfacePattern p2p="true"></ns2:interfacePattern>
    <ns2:isSensitiveData>false</ns2:isSensitiveData>
    <ns2:classifications>
      <ns2:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"></ns2:classification>
      <ns2:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="ec0889c2754634feb91db9e600c30c7e"></ns2:classification>
    </ns2:classifications>
    <ns2:additionalAttributes></ns2:additionalAttributes>
    <ns2:methods>
      <ns2:method name="MI290_BPM_CustomerCreditCard_Set_os">
        <ns2:isSynchron>true</ns2:isSynchron>
        <ns2:isIdempotent>false</ns2:isIdempotent>
        <ns2:isInbound>false</ns2:isInbound>
        <ns2:interfaceCategory>outbound</ns2:interfaceCategory>
        <ns2:communicationProfile uri="prf_dt_op_com_sync"></ns2:communicationProfile>
        <ns2:contextobjects></ns2:contextobjects>
      </ns2:method>
    </ns2:methods>
    <ns2:messages>
      <ns2:message name="MT_CreditCardResult">
        <ns2:messType>ifmmessage</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">MT_CreditCardResult</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Customer</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Customer</ns2:technicalNamespace>
        <ns2:VersionID>632ee69d0a3311e7a50d0000005f8a66</ns2:VersionID>
        <ns2:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Customer</ns2:xmlNamespace>
        <ns2:dataType name="DT_CreditCardResult" namespace="http://nobelbiocare.com/BPM/SFDC/Customer" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_CreditCardResult~namespace=http://nobelbiocare.com/BPM/SFDC/Customer~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"></ns2:dataType>
      </ns2:message>
      <ns2:message name="MT_Customer_CreditCard">
        <ns2:messType>ifmmessage</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">MT_Customer_CreditCard</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Customer</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Customer</ns2:technicalNamespace>
        <ns2:VersionID>54eb38e5097011e784750000005f8a66</ns2:VersionID>
        <ns2:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Customer</ns2:xmlNamespace>
        <ns2:dataType name="DT_Customer_CreditCard" namespace="http://nobelbiocare.com/BPM/SFDC/Customer" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_Customer_CreditCard~namespace=http://nobelbiocare.com/BPM/SFDC/Customer~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"></ns2:dataType>
      </ns2:message>
    </ns2:messages>
    <ns2:matchingInterfaces></ns2:matchingInterfaces>
    <ns2:genericProperties>
      <ns2:swcvinfo>
        <ns2:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns2:guid>
        <ns2:name>BPM, 1.0 of nobelbiocare.com</ns2:name>
      </ns2:swcvinfo>
      <ns2:languages>
        <ns2:language internalCode="EN" original="true"></ns2:language>
      </ns2:languages>
      <ns2:documentation type="I">
        <name>_ID_ec0889c2754634feb91db9e600c30c7e_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/SFDC/Customer</namespace>
      </ns2:documentation>
    </ns2:genericProperties>
  </ns2:properties>
  <ns3:Policy xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/09/policy" ns4:Id="OP_MI290_BPM_CustomerCreditCard_Set_os" xmlns:ns4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"></ns3:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nobelbiocare.com/BPM/SFDC/Customer">
      <xsd:complexType name="DT_Customer_CreditCard">
        <xsd:sequence>
          <xsd:element name="Account__c" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="SAP_ID" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="CreditCard" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="credit_card_category" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="credit_card_default" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="credit_card_Lock_reason" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="credit_card_name" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="credit_card_token_num" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="credit_card_type" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="credit_card_valid_From" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="credit_card_valid_To" type="xsd:string" minOccurs="0"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_CreditCardResult">
        <xsd:sequence>
          <xsd:element name="Status" type="xsd:string"></xsd:element>
          <xsd:element name="Error" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MT_CreditCardResult" type="tns:DT_CreditCardResult"></xsd:element>
      <xsd:element name="MT_Customer_CreditCard" type="tns:DT_Customer_CreditCard"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Customer_CreditCard">
    <wsdl:part name="MT_Customer_CreditCard" element="tns:MT_Customer_CreditCard"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="MT_CreditCardResult">
    <wsdl:part name="MT_CreditCardResult" element="tns:MT_CreditCardResult"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MI290_BPM_CustomerCreditCard_Set_os">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="MI290_BPM_CustomerCreditCard_Set_os">
      <wsdl:documentation></wsdl:documentation>
      <ns5:Policy xmlns:ns5="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns5:PolicyReference URI="#OP_MI290_BPM_CustomerCreditCard_Set_os"></ns5:PolicyReference>
      </ns5:Policy>
      <wsdl:input message="tns:MT_Customer_CreditCard"></wsdl:input>
      <wsdl:output message="tns:MT_CreditCardResult"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI290_BPM_CustomerCreditCard_Set_osBinding" type="tns:MI290_BPM_CustomerCreditCard_Set_os">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="MI290_BPM_CustomerCreditCard_Set_os">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
