t/9B2B5EA7045729B7959F65F705DD99C9/nobelbiocare.com~p_sfdc~pr~pm~re~flow_control.wsar/META-INF/wsdl/nobelbiocarecom2Fpsfdc2Fpr2Fpm2Fre2Fflowcontrol2FTRSTARTREVENUECONTROLFLOW/src/wsdl/MI286_BPM_ControlFlow_ia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue" name="MI286_BPM_ControlFlow_ia" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns1:UsingPolicy>
  <ns2:Policy xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy" ns3:Id="OP_MI286_BPM_ControlFlow_ia" xmlns:ns3="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"></ns2:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:complexType name="DT_FlowControl">
        <xsd:sequence>
          <xsd:element name="CORRELATION" type="xsd:string"></xsd:element>
          <xsd:element name="DELTALOAD" type="xsd:string"></xsd:element>
          <xsd:element name="TOTALMESSAGES" type="xsd:integer"></xsd:element>
          <xsd:element name="MESSAGENUMBER" type="xsd:integer"></xsd:element>
          <xsd:element name="PROCESS" type="xsd:string"></xsd:element>
          <xsd:element name="STATUS" type="xsd:string"></xsd:element>
          <xsd:element name="ERROR" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="BPMID" type="xsd:string"></xsd:element>
          <xsd:element name="ROWSOK" type="xsd:string"></xsd:element>
          <xsd:element name="REJECTEDROWS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="ROW" type="xsd:string"></xsd:element>
                <xsd:element name="ERROR" type="xsd:string"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MT_FlowControl" type="tns:DT_FlowControl"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_FlowControl">
    <wsdl:part name="MT_FlowControl" element="tns:MT_FlowControl"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MI286_BPM_ControlFlow_ia">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="MI286_BPM_ControlFlow_ia">
      <wsdl:documentation></wsdl:documentation>
      <ns4:Policy xmlns:ns4="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns4:PolicyReference URI="#OP_MI286_BPM_ControlFlow_ia"></ns4:PolicyReference>
      </ns4:Policy>
      <wsdl:input message="tns:MT_FlowControl"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI286_BPM_ControlFlow_iaBinding" type="tns:MI286_BPM_ControlFlow_ia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
    <wsdl:operation name="MI286_BPM_ControlFlow_ia">
      <soap:operation soapAction=""></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
    </wsdl:operation>
    <ns5:PolicyReference xmlns:ns5="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#GLX_POLICY"></ns5:PolicyReference>
  </wsdl:binding>
  <wsdl:service name="MI286_BPM_ControlFlow_iaService">
    <wsdl:port name="MI286_BPM_ControlFlow_iaPort" binding="tns:MI286_BPM_ControlFlow_iaBinding">
      <soap:address location="http://www.example.org/bpm/nobelbiocarecom/psfdc/pr/pm/re/flowcontrol/TRSTARTREVENUECONTROLFLOW"></soap:address>
    </wsdl:port>
  </wsdl:service>
  <ns6:Policy xmlns:ns6="http://schemas.xmlsoap.org/ws/2004/09/policy" ns7:Id="GLX_POLICY" xmlns:ns7="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <ns6:ExactlyOne>
      <ns6:All>
        <ns6:ExactlyOne>
          <ns6:All>
            <ns8:TransportBinding xmlns:ns8="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
              <ns6:Policy>
                <ns8:TransportToken>
                  <ns6:Policy>
                    <ns8:HttpsToken>
                      <ns6:Policy>
                        <ns8:HttpBasicAuthentication></ns8:HttpBasicAuthentication>
                      </ns6:Policy>
                    </ns8:HttpsToken>
                  </ns6:Policy>
                </ns8:TransportToken>
                <ns8:AlgorithmSuite>
                  <ns6:Policy>
                    <ns8:TripleDesRsa15></ns8:TripleDesRsa15>
                  </ns6:Policy>
                </ns8:AlgorithmSuite>
                <ns8:Layout>
                  <ns6:Policy>
                    <ns8:Strict></ns8:Strict>
                  </ns6:Policy>
                </ns8:Layout>
              </ns6:Policy>
            </ns8:TransportBinding>
          </ns6:All>
          <ns6:All>
            <ns9:TransportBinding xmlns:ns9="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
              <ns6:Policy>
                <ns9:TransportToken>
                  <ns6:Policy>
                    <ns9:HttpsToken>
                      <ns6:Policy>
                        <ns10:HTTPSSO2 xmlns:ns10="http://www.sap.com/webas/630/soap/features/security/policy"></ns10:HTTPSSO2>
                      </ns6:Policy>
                    </ns9:HttpsToken>
                  </ns6:Policy>
                </ns9:TransportToken>
                <ns9:AlgorithmSuite>
                  <ns6:Policy>
                    <ns9:TripleDesRsa15></ns9:TripleDesRsa15>
                  </ns6:Policy>
                </ns9:AlgorithmSuite>
                <ns9:Layout>
                  <ns6:Policy>
                    <ns9:Strict></ns9:Strict>
                  </ns6:Policy>
                </ns9:Layout>
              </ns6:Policy>
            </ns9:TransportBinding>
          </ns6:All>
        </ns6:ExactlyOne>
      </ns6:All>
    </ns6:ExactlyOne>
  </ns6:Policy>
</wsdl:definitions>
