t/EFB94DE61281EC6F1645312B6961931E/tmp/wsdls/nobelbiocare.com~p_sfdc~pr~pm~re~sales_bgt/OM_SalesBDGT_Onwer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:properties xmlns:ns1="urn:com-sap:ifr:v2:wsdl">
		<ns1:genericProperties>
			<ns1:swcvinfo>
				<ns1:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns1:guid>
				<ns1:name>BPM, 1.0 of nobelbiocare.com</ns1:name>
			</ns1:swcvinfo>
			<ns1:ominfo>
				<ns1:guid>7536ccab42a23515975c045aaf55e16d</ns1:guid>
			</ns1:ominfo>
		</ns1:genericProperties>
	</ns1:properties>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:complexType name="DT_SalesRepBudget_OwnerId">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">f0f16a24f9b111e692be0000005f8a66</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="SalesRepPerformance" type="tns:DT_GCVMSLRBD">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ff2d0bfff9b111e6a0eb0205857feb80</xsd:appinfo>
              <xsd:documentation></xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UserId" type="tns:DT_UserId">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ff2d0c00f9b111e6b05a0205857feb80</xsd:appinfo>
              <xsd:documentation></xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="UserSalesOrg" type="tns:DT_UserSalesOrg">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ff2d0c01f9b111e69a910205857feb80</xsd:appinfo>
              <xsd:documentation></xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_GCVMSLRBD">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">CVM Sales Rep Budget</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="CORRELATION" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Correlation id</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DELTA" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>'X' for delta load, full load otherwise</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NUMBER" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Specifies the message number</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TOTAL" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Messages total</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ROW" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="SALESEMPLY" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="FISCPER" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="SALESORG" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="FISCVARNT" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GAMT160" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GAMT228" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="CURRENCY" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GPERDAY01" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="OWNERID" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="ERROR" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GAMT333" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GAMT332" type="xsd:string" minOccurs="0"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_UserId">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">33302d14f28911e6caad0000005f8a66</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Row" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="UserId" type="xsd:string"></xsd:element>
                <xsd:element name="SAP_PE_Number" type="xsd:string"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_UserSalesOrg">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b23be93ff28c11e6a7980000005f8a66</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Row" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="User" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="SalesOrg" type="xsd:string" minOccurs="0"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MT_SalesRepBudget_OwnerId" type="tns:DT_SalesRepBudget_OwnerId"></xsd:element>
      <xsd:element name="MT_GCVMSLRBD" type="tns:DT_GCVMSLRBD"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OMRequestMessage">
    <wsdl:part name="MT_SalesRepBudget_OwnerId" element="tns:MT_SalesRepBudget_OwnerId"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="OMResponseMessage">
    <wsdl:part name="MT_GCVMSLRBD" element="tns:MT_GCVMSLRBD"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="nobelbiocarecom_p_sfdcprpmresales_bgt_OM_SalesBDGT_OnwerPortType">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="OM_SalesBDGT_Onwer">
      <wsdl:input message="tns:OMRequestMessage"></wsdl:input>
      <wsdl:output message="tns:OMResponseMessage"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OM_SalesBDGT_OnwerBinding" type="tns:nobelbiocarecom_p_sfdcprpmresales_bgt_OM_SalesBDGT_OnwerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="OM_SalesBDGT_Onwer">
      <soap:operation></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="nobelbiocare_com_p_sfdc_pr_pm_re_sales_bgt_OM_SalesBDGT_Onwer_Service">
    <wsdl:port name="nobelbiocarecom_p_sfdcprpmresales_bgt_OM_SalesBDGT_OnwerPortType" binding="tns:OM_SalesBDGT_OnwerBinding">
      <soap:address location="http://localhost:50500/nobelbiocare.com~p_sfdc/pr/pm/re/sales_bgt/wsdl/OM_SalesBDGT_Onwer"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
