t/283B6781D4BB117836D333CA9FFED0B7/tmp/wsdls/nobelbiocare.com~p_sfdc~pr~pm~re~account_performance/OM_AccPerf_Rejct.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:properties xmlns:ns1="urn:com-sap:ifr:v2:wsdl">
		<ns1:genericProperties>
			<ns1:swcvinfo>
				<ns1:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns1:guid>
				<ns1:name>BPM, 1.0 of nobelbiocare.com</ns1:name>
			</ns1:swcvinfo>
			<ns1:ominfo>
				<ns1:guid>efaa3731a2ed3b6eb13e83d7c576e3f8</ns1:guid>
			</ns1:ominfo>
		</ns1:genericProperties>
	</ns1:properties>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:complexType name="DT_GCVMBIBOD">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Account performance - CVM Billings and Bookings</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="CORRELATION" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Correlation id</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DELTA" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>'X' for delta load, full load otherwise</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NUMBER" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Specifies the message number</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TOTAL" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Messages total</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ROW" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="CUSTOMER" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="CALDAY" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="SALESORG" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="CURRENCY" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GAMT161" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GAMT221" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GAMT222" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GAMT223" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="FISCVARNT" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="FISCPER" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GPERDAY01" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="FLAGACCOUNT" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Flag to mark account creation</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ERROR" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Rejection error</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Performance_Result">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">40101155eedb11e685150000005f8a66</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Performance" type="tns:DT_GCVMBIBOD"></xsd:element>
          <xsd:element name="Results" type="tns:DT_Results"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Results">
        <xsd:sequence>
          <xsd:element name="Result" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="success" type="xsd:string"></xsd:element>
                <xsd:element name="statuscode" type="xsd:string" minOccurs="0"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MT_GCVMBIBOD" type="tns:DT_GCVMBIBOD"></xsd:element>
      <xsd:element name="MT_Performance_Result" type="tns:DT_Performance_Result"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OMRequestMessage">
    <wsdl:part name="MT_Performance_Result" element="tns:MT_Performance_Result"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="OMResponseMessage">
    <wsdl:part name="MT_GCVMBIBOD" element="tns:MT_GCVMBIBOD"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="nobelbiocarecom_p_sfdcprpmreaccount_performance_OM_AccPerf_RejctPortType">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="OM_AccPerf_Rejct">
      <wsdl:input message="tns:OMRequestMessage"></wsdl:input>
      <wsdl:output message="tns:OMResponseMessage"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OM_AccPerf_RejctBinding" type="tns:nobelbiocarecom_p_sfdcprpmreaccount_performance_OM_AccPerf_RejctPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="OM_AccPerf_Rejct">
      <soap:operation></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="nobelbiocare_com_p_sfdc_pr_pm_re_account_performance_OM_AccPerf_Rejct_Service">
    <wsdl:port name="nobelbiocarecom_p_sfdcprpmreaccount_performance_OM_AccPerf_RejctPortType" binding="tns:OM_AccPerf_RejctBinding">
      <soap:address location="http://localhost:50500/nobelbiocare.com~p_sfdc/pr/pm/re/account_performance/wsdl/OM_AccPerf_Rejct"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
