t/283B6781D4BB117836D333CA9FFED0B7/tmp/wsdls/nobelbiocare.com~p_sfdc~pr~pm~re~account_performance/OM_AccPer_Owner.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:properties xmlns:ns1="urn:com-sap:ifr:v2:wsdl">
		<ns1:genericProperties>
			<ns1:swcvinfo>
				<ns1:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns1:guid>
				<ns1:name>BPM, 1.0 of nobelbiocare.com</ns1:name>
			</ns1:swcvinfo>
			<ns1:ominfo>
				<ns1:guid>f46ba33595253d2387ec68c37b4315c4</ns1:guid>
			</ns1:ominfo>
		</ns1:genericProperties>
	</ns1:properties>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:complexType name="DT_OwnerId">
        <xsd:sequence>
          <xsd:element name="Owners" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="OWNER" type="xsd:string"></xsd:element>
                <xsd:element name="SALESORG" type="xsd:string"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Dummy_Account">
        <xsd:sequence>
          <xsd:element name="ACCOUNTS" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="OWNERID" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Owner Id</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ACCSAPID" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Account__r_SAP_ID__c</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="SAPID" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="VKORG" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="SALESORG" type="xsd:string" minOccurs="0"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Dummy_Account_OwnerId">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">758daec3eeb311e68cb80000005f8a66</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Account" type="tns:DT_Dummy_Account">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">757dfffceeb311e6a5c60205857feb80</xsd:appinfo>
              <xsd:documentation></xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Onwers" type="tns:DT_OwnerId">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">757dfffdeeb311e68daa0205857feb80</xsd:appinfo>
              <xsd:documentation></xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MT_Dummy_Account" type="tns:DT_Dummy_Account"></xsd:element>
      <xsd:element name="MT_Dummy_Account_OwnerId" type="tns:DT_Dummy_Account_OwnerId"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OMRequestMessage">
    <wsdl:part name="MT_Dummy_Account_OwnerId" element="tns:MT_Dummy_Account_OwnerId"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="OMResponseMessage">
    <wsdl:part name="MT_Dummy_Account" element="tns:MT_Dummy_Account"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="nobelbiocarecom_p_sfdcprpmreaccount_performance_OM_AccPer_OwnerPortType">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="OM_AccPer_Owner">
      <wsdl:input message="tns:OMRequestMessage"></wsdl:input>
      <wsdl:output message="tns:OMResponseMessage"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OM_AccPer_OwnerBinding" type="tns:nobelbiocarecom_p_sfdcprpmreaccount_performance_OM_AccPer_OwnerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="OM_AccPer_Owner">
      <soap:operation></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="nobelbiocare_com_p_sfdc_pr_pm_re_account_performance_OM_AccPer_Owner_Service">
    <wsdl:port name="nobelbiocarecom_p_sfdcprpmreaccount_performance_OM_AccPer_OwnerPortType" binding="tns:OM_AccPer_OwnerBinding">
      <soap:address location="http://localhost:50500/nobelbiocare.com~p_sfdc/pr/pm/re/account_performance/wsdl/OM_AccPer_Owner"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
