t/FDBA79ED3C167A343FF03AF682ECDE23/tmp/wsdls/nobelbiocare.com~p_teac~pr~pm~course/MI255_BPM_TEAC_Create_Update_Course_os.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/TnE" name="MI255_BPM_TEAC_Create_Update_Course_os" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/TnE" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns1:UsingPolicy>
  <ns2:properties xmlns:ns2="urn:com-sap:ifr:v2:wsdl">
    <ns2:category>ifmmessif</ns2:category>
    <ns2:VersionID>fedd74879ab811e6a50f0000005f8a66</ns2:VersionID>
    <ns2:lifeCycleInfo>
      <objectState></objectState>
      <objectstatus value="A"></objectstatus>
      <personresponsible value="chdaro"></personresponsible>
      <changed by="chdaro" on="1477403057550"></changed>
    </ns2:lifeCycleInfo>
    <ns2:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"></ns2:runtimeVersion>
    <ns2:communicationProfile uri="prf_dt_if_com_stateless"></ns2:communicationProfile>
    <ns2:securityProfile uri="prf_dt_if_sec_basic"></ns2:securityProfile>
    <ns2:interfacePattern p2p="true"></ns2:interfacePattern>
    <ns2:isSensitiveData>false</ns2:isSensitiveData>
    <ns2:classifications>
      <ns2:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"></ns2:classification>
      <ns2:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="0b0eb77caecc326da7d1439fb8165c26"></ns2:classification>
    </ns2:classifications>
    <ns2:additionalAttributes></ns2:additionalAttributes>
    <ns2:methods>
      <ns2:method name="MI255_BPM_TEAC_Create_Update_Course_os">
        <ns2:isSynchron>true</ns2:isSynchron>
        <ns2:isIdempotent>false</ns2:isIdempotent>
        <ns2:isInbound>false</ns2:isInbound>
        <ns2:interfaceCategory>outbound</ns2:interfaceCategory>
        <ns2:communicationProfile uri="prf_dt_op_com_sync"></ns2:communicationProfile>
        <ns2:contextobjects></ns2:contextobjects>
      </ns2:method>
    </ns2:methods>
    <ns2:messages>
      <ns2:message name="p3.globalFaultsResponse">
        <ns2:messType>ifmextmes</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">ED_StoreOnline_WSDL_SOAP_API_V2</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ns2:elem>
          <ns2:elem id="SUBNAME">globalFaultsResponse</ns2:elem>
          <ns2:elem id="SUBNAMESPACE">urn:Magento</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ns2:technicalNamespace>
        <ns2:VersionID>3008562075d911e6ad340000005f8a66</ns2:VersionID>
      </ns2:message>
      <ns2:message name="p2.SRecordsCVM_SOL">
        <ns2:messType>ifmextmes</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">ED_BPM_SOL_Combined_Info</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ns2:elem>
          <ns2:elem id="SUBNAME">SRecordsCVM_SOL</ns2:elem>
          <ns2:elem id="SUBNAMESPACE">http://nobelbiocare.com/bpm/teac/combined</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ns2:technicalNamespace>
        <ns2:VersionID>fd64140cc39511e68cc40000005f8a66</ns2:VersionID>
      </ns2:message>
      <ns2:message name="MT_Course_Replication_Result">
        <ns2:messType>ifmmessage</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">MT_Course_Replication_Result</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ns2:technicalNamespace>
        <ns2:VersionID>9fc7ac4d9ab811e6b4eb0000005f8a66</ns2:VersionID>
        <ns2:xmlNamespace>http://nobelbiocare.com/BPM/TnE</ns2:xmlNamespace>
        <ns2:dataType name="DT_Course_Replication_Result" namespace="http://nobelbiocare.com/BPM/TnE" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_Course_Replication_Result~namespace=http://nobelbiocare.com/BPM/TnE~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"></ns2:dataType>
      </ns2:message>
    </ns2:messages>
    <ns2:matchingInterfaces></ns2:matchingInterfaces>
    <ns2:genericProperties>
      <ns2:swcvinfo>
        <ns2:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns2:guid>
        <ns2:name>BPM, 1.0 of nobelbiocare.com</ns2:name>
      </ns2:swcvinfo>
      <ns2:languages>
        <ns2:language internalCode="EN" original="true"></ns2:language>
      </ns2:languages>
      <ns2:documentation type="I">
        <name>_ID_0b0eb77caecc326da7d1439fb8165c26_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/TnE</namespace>
      </ns2:documentation>
    </ns2:genericProperties>
  </ns2:properties>
  <ns3:Policy xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/09/policy" ns4:Id="OP_MI255_BPM_TEAC_Create_Update_Course_os" xmlns:ns4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"></ns3:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nobelbiocare.com/bpm/teac/combined" xmlns:tns="http://nobelbiocare.com/bpm/teac/combined">
      <xsd:complexType name="AttributeType">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string"></xsd:element>
          <xsd:element name="value" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CampaignType">
        <xsd:sequence>
          <xsd:element name="CUSTOM_Operation" type="xsd:string"></xsd:element>
          <xsd:element name="CUSTOM_Speaker_engagement__c" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="Magento_Sync_Request__c" type="xsd:boolean"></xsd:element>
          <xsd:element name="Exists_in_Magento__c" type="xsd:boolean"></xsd:element>
          <xsd:element name="Id" type="xsd:string"></xsd:element>
          <xsd:element name="Course_Number__c" type="xsd:string"></xsd:element>
          <xsd:element name="Name" type="xsd:string"></xsd:element>
          <xsd:element name="Course_Overview__c" type="xsd:string"></xsd:element>
          <xsd:element name="Social_Program__c" type="xsd:string"></xsd:element>
          <xsd:element name="Weighted_Value_of_All_Opportunities__c" type="xsd:float"></xsd:element>
          <xsd:element name="Course_Fee__c" type="xsd:float"></xsd:element>
          <xsd:element name="Registrations_Max__c" type="xsd:float"></xsd:element>
          <xsd:element name="Strategy__c" type="xsd:string"></xsd:element>
          <xsd:element name="Special_Course_Feature__c" type="xsd:string"></xsd:element>
          <xsd:element name="Course_City__c" type="xsd:string"></xsd:element>
          <xsd:element name="Course_Zip__c" type="xsd:string"></xsd:element>
          <xsd:element name="StartDate" type="xsd:date"></xsd:element>
          <xsd:element name="EndDate" type="xsd:date"></xsd:element>
          <xsd:element name="Language__c" type="xsd:string"></xsd:element>
          <xsd:element name="Duration__c" type="xsd:float"></xsd:element>
          <xsd:element name="Currency__c" type="xsd:string"></xsd:element>
          <xsd:element name="Venue_Name__c" type="xsd:string"></xsd:element>
          <xsd:element name="Credits_Given__c" type="xsd:string"></xsd:element>
          <xsd:element name="Course_State__c" type="xsd:string"></xsd:element>
          <xsd:element name="Venue_Country__c" type="xsd:string"></xsd:element>
          <xsd:element name="Related_Course_1__c" type="xsd:string"></xsd:element>
          <xsd:element name="Related_Course_2__c" type="xsd:string"></xsd:element>
          <xsd:element name="Related_Course_3__c" type="xsd:string"></xsd:element>
          <xsd:element name="Related_Course_4__c" type="xsd:string"></xsd:element>
          <xsd:element name="Related_Course_5__c" type="xsd:string"></xsd:element>
          <xsd:element name="SAP_Product_Number__c" type="xsd:string"></xsd:element>
          <xsd:element name="Course_Address_1__c" type="xsd:string"></xsd:element>
          <xsd:element name="Course_Address_2__c" type="xsd:string"></xsd:element>
          <xsd:element name="Course_Classification__c" type="xsd:string"></xsd:element>
          <xsd:element name="Level__c" type="xsd:string"></xsd:element>
          <xsd:element name="Contact" type="tns:ContactType" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ContactType">
        <xsd:sequence>
          <xsd:element name="Name" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="Email" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="Phone" type="xsd:byte" minOccurs="0"></xsd:element>
          <xsd:element name="DSE__DS_Company__c" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SRecordsType">
        <xsd:sequence>
          <xsd:element name="SOL_SessionID" type="xsd:string"></xsd:element>
          <xsd:element name="SOL_SetID" type="xsd:string"></xsd:element>
          <xsd:element name="Campaign" type="tns:CampaignType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
          <xsd:element name="Attribute" type="tns:AttributeType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SRecordsCVM_SOL" type="tns:SRecordsType"></xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="urn:Magento" xmlns:tns2="urn:Magento">
      <xsd:complexType name="existsFaltureEntity">
        <xsd:sequence>
          <xsd:element name="code" type="xsd:string"></xsd:element>
          <xsd:element name="message" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfExistsFaltures">
        <xsd:sequence>
          <xsd:element name="complexObjectArray" type="tns2:existsFaltureEntity" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="globalFaultsResponseParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns2:ArrayOfExistsFaltures"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://nobelbiocare.com/BPM/TnE">
      <xsd:complexType name="DT_Course_Replication_Result">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string"></xsd:element>
          <xsd:element name="Result" type="xsd:string"></xsd:element>
          <xsd:element name="Error" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>True means that an error has been detected</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MT_Course_Replication_Result" type="tns:DT_Course_Replication_Result"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Course_Replication_Result">
    <wsdl:part name="MT_Course_Replication_Result" element="tns:MT_Course_Replication_Result"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="p2.SRecordsCVM_SOL">
    <wsdl:part name="SRecordsCVM_SOL" xmlns:ns5="http://nobelbiocare.com/bpm/teac/combined" element="ns5:SRecordsCVM_SOL"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="p3.globalFaultsResponse">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:part name="parameters" xmlns:ns6="urn:Magento" element="ns6:globalFaultsResponseParam"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MI255_BPM_TEAC_Create_Update_Course_os">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="MI255_BPM_TEAC_Create_Update_Course_os">
      <wsdl:documentation></wsdl:documentation>
      <ns7:Policy xmlns:ns7="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns7:PolicyReference URI="#OP_MI255_BPM_TEAC_Create_Update_Course_os"></ns7:PolicyReference>
      </ns7:Policy>
      <wsdl:input message="tns:p2.SRecordsCVM_SOL"></wsdl:input>
      <wsdl:output message="tns:MT_Course_Replication_Result"></wsdl:output>
      <wsdl:fault name="p3.globalFaultsResponse" message="tns:p3.globalFaultsResponse"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI255_BPM_TEAC_Create_Update_Course_osBinding" type="tns:MI255_BPM_TEAC_Create_Update_Course_os">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="MI255_BPM_TEAC_Create_Update_Course_os">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="p3.globalFaultsResponse">
        <soap:fault name="p3.globalFaultsResponse" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
