t/FDBA79ED3C167A343FF03AF682ECDE23/tmp/wsdls/nobelbiocare.com~p_teac~pr~pm~course/MI257_BPM_Create_Update_Course_Result_oa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/TnE" name="MI257_BPM_Create_Update_Course_Result_oa" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/TnE" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns1:UsingPolicy>
  <ns2:properties xmlns:ns2="urn:com-sap:ifr:v2:wsdl">
    <ns2:category>ifmmessif</ns2:category>
    <ns2:VersionID>e29660e89ac611e6c8250000005f8a66</ns2:VersionID>
    <ns2:lifeCycleInfo>
      <objectState></objectState>
      <objectstatus value="A"></objectstatus>
      <personresponsible value="chdaro"></personresponsible>
      <changed by="chdaro" on="1477409023322"></changed>
    </ns2:lifeCycleInfo>
    <ns2:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"></ns2:runtimeVersion>
    <ns2:communicationProfile uri="prf_dt_if_com_stateless"></ns2:communicationProfile>
    <ns2:securityProfile uri="prf_dt_if_sec_basic"></ns2:securityProfile>
    <ns2:interfacePattern p2p="true"></ns2:interfacePattern>
    <ns2:isSensitiveData>false</ns2:isSensitiveData>
    <ns2:classifications>
      <ns2:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"></ns2:classification>
      <ns2:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="c46b837ff1ba3a2cbe8b250eb5448ab4"></ns2:classification>
    </ns2:classifications>
    <ns2:additionalAttributes></ns2:additionalAttributes>
    <ns2:methods>
      <ns2:method name="MI257_BPM_Create_Update_Course_Result_oa">
        <ns2:isSynchron>false</ns2:isSynchron>
        <ns2:isIdempotent>false</ns2:isIdempotent>
        <ns2:isInbound>false</ns2:isInbound>
        <ns2:interfaceCategory>outbound</ns2:interfaceCategory>
        <ns2:communicationProfile uri="prf_dt_op_com_async"></ns2:communicationProfile>
        <ns2:contextobjects></ns2:contextobjects>
      </ns2:method>
    </ns2:methods>
    <ns2:messages>
      <ns2:message name="MT_Course_Replication_Result">
        <ns2:messType>ifmmessage</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">MT_Course_Replication_Result</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ns2:technicalNamespace>
        <ns2:VersionID>9fc7ac4d9ab811e6b4eb0000005f8a66</ns2:VersionID>
        <ns2:xmlNamespace>http://nobelbiocare.com/BPM/TnE</ns2:xmlNamespace>
        <ns2:dataType name="DT_Course_Replication_Result" namespace="http://nobelbiocare.com/BPM/TnE" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_Course_Replication_Result~namespace=http://nobelbiocare.com/BPM/TnE~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"></ns2:dataType>
      </ns2:message>
    </ns2:messages>
    <ns2:matchingInterfaces></ns2:matchingInterfaces>
    <ns2:genericProperties>
      <ns2:swcvinfo>
        <ns2:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns2:guid>
        <ns2:name>BPM, 1.0 of nobelbiocare.com</ns2:name>
      </ns2:swcvinfo>
      <ns2:languages>
        <ns2:language internalCode="EN" original="true"></ns2:language>
      </ns2:languages>
      <ns2:documentation type="I">
        <name>_ID_c46b837ff1ba3a2cbe8b250eb5448ab4_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/TnE</namespace>
      </ns2:documentation>
    </ns2:genericProperties>
  </ns2:properties>
  <ns3:Policy xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/09/policy" ns4:Id="OP_MI257_BPM_Create_Update_Course_Result_oa" xmlns:ns4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"></ns3:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nobelbiocare.com/BPM/TnE">
      <xsd:complexType name="DT_Course_Replication_Result">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string"></xsd:element>
          <xsd:element name="Result" type="xsd:string"></xsd:element>
          <xsd:element name="Error" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>True means that an error has been detected</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MT_Course_Replication_Result" type="tns:DT_Course_Replication_Result"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Course_Replication_Result">
    <wsdl:part name="MT_Course_Replication_Result" element="tns:MT_Course_Replication_Result"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MI257_BPM_Create_Update_Course_Result_oa">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="MI257_BPM_Create_Update_Course_Result_oa">
      <wsdl:documentation></wsdl:documentation>
      <ns5:Policy xmlns:ns5="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns5:PolicyReference URI="#OP_MI257_BPM_Create_Update_Course_Result_oa"></ns5:PolicyReference>
      </ns5:Policy>
      <wsdl:input message="tns:MT_Course_Replication_Result"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI257_BPM_Create_Update_Course_Result_oaBinding" type="tns:MI257_BPM_Create_Update_Course_Result_oa">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="MI257_BPM_Create_Update_Course_Result_oa">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
