t/FDBA79ED3C167A343FF03AF682ECDE23/tmp/wsdls/nobelbiocare.com~p_teac~pr~pm~course/MI267_BPM_GetProductLines_os.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/TnE" name="MI267_BPM_GetProductLines_os" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/TnE" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns1:UsingPolicy>
  <ns2:properties xmlns:ns2="urn:com-sap:ifr:v2:wsdl">
    <ns2:category>ifmmessif</ns2:category>
    <ns2:VersionID>f11b663979a011e6b5f10000005f8a66</ns2:VersionID>
    <ns2:lifeCycleInfo>
      <objectState></objectState>
      <objectstatus value="A"></objectstatus>
      <personresponsible value="chdaro"></personresponsible>
      <changed by="chdaro" on="1473764289099"></changed>
    </ns2:lifeCycleInfo>
    <ns2:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"></ns2:runtimeVersion>
    <ns2:communicationProfile uri="prf_dt_if_com_stateless"></ns2:communicationProfile>
    <ns2:securityProfile uri="prf_dt_if_sec_basic"></ns2:securityProfile>
    <ns2:interfacePattern p2p="true"></ns2:interfacePattern>
    <ns2:isSensitiveData>false</ns2:isSensitiveData>
    <ns2:classifications>
      <ns2:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"></ns2:classification>
      <ns2:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="aef5c4dd64eb378fba031d9e61e5ca2f"></ns2:classification>
    </ns2:classifications>
    <ns2:additionalAttributes></ns2:additionalAttributes>
    <ns2:methods>
      <ns2:method name="MI267_BPM_GetProductLines_os">
        <ns2:isSynchron>true</ns2:isSynchron>
        <ns2:isIdempotent>false</ns2:isIdempotent>
        <ns2:isInbound>false</ns2:isInbound>
        <ns2:interfaceCategory>outbound</ns2:interfaceCategory>
        <ns2:communicationProfile uri="prf_dt_op_com_sync"></ns2:communicationProfile>
        <ns2:contextobjects></ns2:contextobjects>
      </ns2:method>
    </ns2:methods>
    <ns2:messages>
      <ns2:message name="p2.catalogProductAttributeSetListResponse">
        <ns2:messType>ifmextmes</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">ED_StoreOnline_WSDL_SOAP_API_V2</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ns2:elem>
          <ns2:elem id="SUBNAME">catalogProductAttributeSetListResponse</ns2:elem>
          <ns2:elem id="SUBNAMESPACE">urn:Magento</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ns2:technicalNamespace>
        <ns2:VersionID>3008562075d911e6ad340000005f8a66</ns2:VersionID>
      </ns2:message>
      <ns2:message name="p2.catalogProductAttributeSetListRequest">
        <ns2:messType>ifmextmes</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">ED_StoreOnline_WSDL_SOAP_API_V2</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ns2:elem>
          <ns2:elem id="SUBNAME">catalogProductAttributeSetListRequest</ns2:elem>
          <ns2:elem id="SUBNAMESPACE">urn:Magento</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ns2:technicalNamespace>
        <ns2:VersionID>3008562075d911e6ad340000005f8a66</ns2:VersionID>
      </ns2:message>
    </ns2:messages>
    <ns2:matchingInterfaces></ns2:matchingInterfaces>
    <ns2:genericProperties>
      <ns2:swcvinfo>
        <ns2:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns2:guid>
        <ns2:name>BPM, 1.0 of nobelbiocare.com</ns2:name>
      </ns2:swcvinfo>
      <ns2:languages>
        <ns2:language internalCode="EN" original="true"></ns2:language>
      </ns2:languages>
      <ns2:documentation type="I">
        <name>_ID_aef5c4dd64eb378fba031d9e61e5ca2f_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/TnE</namespace>
      </ns2:documentation>
    </ns2:genericProperties>
  </ns2:properties>
  <ns3:Policy xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/09/policy" ns4:Id="OP_MI267_BPM_GetProductLines_os" xmlns:ns4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"></ns3:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:Magento" xmlns:tns="urn:Magento">
      <xsd:complexType name="catalogProductAttributeSetEntity">
        <xsd:sequence>
          <xsd:element name="set_id" type="xsd:int" minOccurs="0"></xsd:element>
          <xsd:element name="name" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="catalogProductAttributeSetEntityArray">
        <xsd:sequence>
          <xsd:element name="complexObjectArray" type="tns:catalogProductAttributeSetEntity" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="catalogProductAttributeSetListRequestParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="catalogProductAttributeSetListResponseParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:catalogProductAttributeSetEntityArray"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.catalogProductAttributeSetListRequest">
    <wsdl:part name="parameters" xmlns:ns5="urn:Magento" element="ns5:catalogProductAttributeSetListRequestParam"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="p2.catalogProductAttributeSetListResponse">
    <wsdl:part name="parameters" xmlns:ns6="urn:Magento" element="ns6:catalogProductAttributeSetListResponseParam"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MI267_BPM_GetProductLines_os">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="MI267_BPM_GetProductLines_os">
      <wsdl:documentation></wsdl:documentation>
      <ns7:Policy xmlns:ns7="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns7:PolicyReference URI="#OP_MI267_BPM_GetProductLines_os"></ns7:PolicyReference>
      </ns7:Policy>
      <wsdl:input message="tns:p2.catalogProductAttributeSetListRequest"></wsdl:input>
      <wsdl:output message="tns:p2.catalogProductAttributeSetListResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI267_BPM_GetProductLines_osBinding" type="tns:MI267_BPM_GetProductLines_os">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="MI267_BPM_GetProductLines_os">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
