SC_TEAC/nobelbiocare.com/p_teac/pr/pm/course/_comp/src/wsdl/MI255_BPM_TEAC_Create_Update_Course_os.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/TnE" xmlns:p2="http://nobelbiocare.com/bpm/teac/combined" xmlns:p3="urn:Magento" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI255_BPM_TEAC_Create_Update_Course_os" targetNamespace="http://nobelbiocare.com/BPM/TnE">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>fedd74879ab811e6a50f0000005f8a66</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="chdaro"/>
      <changed by="chdaro" on="1477403057550"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="0b0eb77caecc326da7d1439fb8165c26"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="MI255_BPM_TEAC_Create_Update_Course_os">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="p3.globalFaultsResponse">
        <ifw:messType>ifmextmes</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ED_StoreOnline_WSDL_SOAP_API_V2</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ifw:elem>
          <ifw:elem id="SUBNAME">globalFaultsResponse</ifw:elem>
          <ifw:elem id="SUBNAMESPACE">urn:Magento</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ifw:technicalNamespace>
        <ifw:VersionID>3008562075d911e6ad340000005f8a66</ifw:VersionID>
      </ifw:message>
      <ifw:message name="p2.SRecordsCVM_SOL">
        <ifw:messType>ifmextmes</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ED_BPM_SOL_Combined_Info</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ifw:elem>
          <ifw:elem id="SUBNAME">SRecordsCVM_SOL</ifw:elem>
          <ifw:elem id="SUBNAMESPACE">http://nobelbiocare.com/bpm/teac/combined</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ifw:technicalNamespace>
        <ifw:VersionID>fd64140cc39511e68cc40000005f8a66</ifw:VersionID>
      </ifw:message>
      <ifw:message name="MT_Course_Replication_Result">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_Course_Replication_Result</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ifw:technicalNamespace>
        <ifw:VersionID>9fc7ac4d9ab811e6b4eb0000005f8a66</ifw:VersionID>
        <ifw:xmlNamespace>http://nobelbiocare.com/BPM/TnE</ifw:xmlNamespace>
        <ifw:dataType name="DT_Course_Replication_Result" namespace="http://nobelbiocare.com/BPM/TnE" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_Course_Replication_Result~namespace=http://nobelbiocare.com/BPM/TnE~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
        <ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_0b0eb77caecc326da7d1439fb8165c26_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/TnE</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_MI255_BPM_TEAC_Create_Update_Course_os"/>
  <wsdl:types>
    <xsd:schema xmlns="urn:Magento" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
      <xsd:element name="globalFaultsResponseParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="ArrayOfExistsFaltures"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="existsFaltureEntity">
        <xsd:sequence>
          <xsd:element name="code" type="xsd:string"/>
          <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfExistsFaltures">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="complexObjectArray" type="existsFaltureEntity"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://nobelbiocare.com/BPM/TnE" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/BPM/TnE">
      <xsd:element name="MT_Course_Replication_Result" type="DT_Course_Replication_Result"/>
      <xsd:complexType name="DT_Course_Replication_Result">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string"/>
          <xsd:element name="Result" type="xsd:string"/>
          <xsd:element name="Error" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>True means that an error has been detected</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://nobelbiocare.com/bpm/teac/combined" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/bpm/teac/combined">
      <xsd:element name="SRecordsCVM_SOL" type="SRecordsType"/>
      <xsd:complexType name="AttributeType">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string"/>
          <xsd:element name="value" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CampaignType">
        <xsd:sequence>
          <xsd:element name="CUSTOM_Operation" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CUSTOM_Speaker_engagement__c" type="xsd:string"/>
          <xsd:element name="Magento_Sync_Request__c" type="xsd:boolean"/>
          <xsd:element name="Exists_in_Magento__c" type="xsd:boolean"/>
          <xsd:element name="Id" type="xsd:string"/>
          <xsd:element name="Course_Number__c" type="xsd:string"/>
          <xsd:element name="Name" type="xsd:string"/>
          <xsd:element name="Course_Overview__c" type="xsd:string"/>
          <xsd:element name="Social_Program__c" type="xsd:string"/>
          <xsd:element name="Weighted_Value_of_All_Opportunities__c" type="xsd:float"/>
          <xsd:element name="Course_Fee__c" type="xsd:float"/>
          <xsd:element name="Registrations_Max__c" type="xsd:float"/>
          <xsd:element name="Strategy__c" type="xsd:string"/>
          <xsd:element name="Special_Course_Feature__c" type="xsd:string"/>
          <xsd:element name="Course_City__c" type="xsd:string"/>
          <xsd:element name="Course_Zip__c" type="xsd:string"/>
          <xsd:element name="StartDate" type="xsd:date"/>
          <xsd:element name="EndDate" type="xsd:date"/>
          <xsd:element name="Language__c" type="xsd:string"/>
          <xsd:element name="Duration__c" type="xsd:float"/>
          <xsd:element name="Currency__c" type="xsd:string"/>
          <xsd:element name="Venue_Name__c" type="xsd:string"/>
          <xsd:element name="Credits_Given__c" type="xsd:string"/>
          <xsd:element name="Course_State__c" type="xsd:string"/>
          <xsd:element name="Venue_Country__c" type="xsd:string"/>
          <xsd:element name="Related_Course_1__c" type="xsd:string"/>
          <xsd:element name="Related_Course_2__c" type="xsd:string"/>
          <xsd:element name="Related_Course_3__c" type="xsd:string"/>
          <xsd:element name="Related_Course_4__c" type="xsd:string"/>
          <xsd:element name="Related_Course_5__c" type="xsd:string"/>
          <xsd:element name="SAP_Product_Number__c" type="xsd:string"/>
          <xsd:element name="Course_Address_1__c" type="xsd:string"/>
          <xsd:element name="Course_Address_2__c" type="xsd:string"/>
          <xsd:element name="Course_Classification__c" type="xsd:string"/>
          <xsd:element name="Level__c" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Contact" type="ContactType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SRecordsType">
        <xsd:sequence>
          <xsd:element name="SOL_SessionID" type="xsd:string"/>
          <xsd:element name="SOL_SetID" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Campaign" type="CampaignType"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Attribute" type="AttributeType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ContactType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Email" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Phone" type="xsd:byte"/>
          <xsd:element minOccurs="0" name="DSE__DS_Company__c" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.SRecordsCVM_SOL">
    <wsdl:documentation/>
    <wsdl:part element="p2:SRecordsCVM_SOL" name="SRecordsCVM_SOL"/>
  </wsdl:message>
  <wsdl:message name="MT_Course_Replication_Result">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_Course_Replication_Result" name="MT_Course_Replication_Result"/>
  </wsdl:message>
  <wsdl:message name="p3.globalFaultsResponse">
    <wsdl:documentation/>
    <wsdl:part element="p3:globalFaultsResponseParam" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="MI255_BPM_TEAC_Create_Update_Course_os">
    <wsdl:documentation/>
    <wsdl:operation name="MI255_BPM_TEAC_Create_Update_Course_os">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_MI255_BPM_TEAC_Create_Update_Course_os"/>
      </wsp:Policy>
      <wsdl:input message="p1:p2.SRecordsCVM_SOL"/>
      <wsdl:output message="p1:MT_Course_Replication_Result"/>
      <wsdl:fault message="p1:p3.globalFaultsResponse" name="p3.globalFaultsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI255_BPM_TEAC_Create_Update_Course_osBinding" type="p1:MI255_BPM_TEAC_Create_Update_Course_os">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MI255_BPM_TEAC_Create_Update_Course_os">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="p3.globalFaultsResponse">
        <soap:fault xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="p3.globalFaultsResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
