SC_TEAC/nobelbiocare.com/p_teac/pr/pm/course/_comp/src/wsdl/MI257_BPM_Create_Update_Course_Result_oa.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/TnE" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI257_BPM_Create_Update_Course_Result_oa" targetNamespace="http://nobelbiocare.com/BPM/TnE">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>e29660e89ac611e6c8250000005f8a66</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="chdaro"/>
      <changed by="chdaro" on="1477409023322"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="c46b837ff1ba3a2cbe8b250eb5448ab4"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="MI257_BPM_Create_Update_Course_Result_oa">
        <ifw:isSynchron>false</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_async"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="MT_Course_Replication_Result">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_Course_Replication_Result</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ifw:technicalNamespace>
        <ifw:VersionID>9fc7ac4d9ab811e6b4eb0000005f8a66</ifw:VersionID>
        <ifw:xmlNamespace>http://nobelbiocare.com/BPM/TnE</ifw:xmlNamespace>
        <ifw:dataType name="DT_Course_Replication_Result" namespace="http://nobelbiocare.com/BPM/TnE" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_Course_Replication_Result~namespace=http://nobelbiocare.com/BPM/TnE~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
        <ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_c46b837ff1ba3a2cbe8b250eb5448ab4_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/TnE</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_MI257_BPM_Create_Update_Course_Result_oa"/>
  <wsdl:types>
    <xsd:schema xmlns="http://nobelbiocare.com/BPM/TnE" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/BPM/TnE">
      <xsd:element name="MT_Course_Replication_Result" type="DT_Course_Replication_Result"/>
      <xsd:complexType name="DT_Course_Replication_Result">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string"/>
          <xsd:element name="Result" type="xsd:string"/>
          <xsd:element name="Error" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>True means that an error has been detected</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Course_Replication_Result">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_Course_Replication_Result" name="MT_Course_Replication_Result"/>
  </wsdl:message>
  <wsdl:portType name="MI257_BPM_Create_Update_Course_Result_oa">
    <wsdl:documentation/>
    <wsdl:operation name="MI257_BPM_Create_Update_Course_Result_oa">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_MI257_BPM_Create_Update_Course_Result_oa"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_Course_Replication_Result"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI257_BPM_Create_Update_Course_Result_oaBinding" type="p1:MI257_BPM_Create_Update_Course_Result_oa">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MI257_BPM_Create_Update_Course_Result_oa">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
