SC_TEAC/nobelbiocare.com/p_teac/pr/pm/course/_comp/src/wsdl/MI255_BPM_TEAC_Create_Update_Course_ia.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/TnE" xmlns:p2="http://nobelbiocare.com/bpm/teac" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI255_BPM_TEAC_Create_Update_Course_ia" targetNamespace="http://nobelbiocare.com/BPM/TnE">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>0e9e93d078e811e6c6920000005f8a66</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="chdaro"/>
      <changed by="chdaro" on="1473684889230"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:xms:application:xip"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="1edfe9a2dea630b0a371ab16358a76dc"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="MI255_BPM_TEAC_Create_Update_Course_ia">
        <ifw:isSynchron>false</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>true</ifw:isInbound>
        <ifw:interfaceCategory>inbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_async"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="p2.SRecords">
        <ifw:messType>ifmextmes</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ED_Campaigns_Fixed_BPM</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ifw:elem>
          <ifw:elem id="SUBNAME">SRecords</ifw:elem>
          <ifw:elem id="SUBNAMESPACE">http://nobelbiocare.com/bpm/teac</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ifw:technicalNamespace>
        <ifw:VersionID>366ed36ec39511e6a3ff0000005f8a66</ifw:VersionID>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
        <ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_1edfe9a2dea630b0a371ab16358a76dc_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/TnE</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_MI255_BPM_TEAC_Create_Update_Course_ia"/>
  <wsdl:types>
    <xsd:schema xmlns="http://nobelbiocare.com/bpm/teac" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/bpm/teac">
      <xsd:element name="SRecords" type="SRecordsType"/>
      <xsd:complexType name="SRecordsType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Campaign" type="CampaignType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CampaignType">
        <xsd:sequence>
          <xsd:element name="CUSTOM_Operation" type="xsd:string"/>
          <xsd:element minOccurs="0" name="CUSTOM_Speaker_engagement__c" type="xsd:string"/>
          <xsd:element name="Magento_Sync_Request__c" type="xsd:boolean"/>
          <xsd:element name="Exists_in_Magento__c" type="xsd:boolean"/>
          <xsd:element name="Id" type="xsd:string"/>
          <xsd:element name="Course_Number__c" type="xsd:string"/>
          <xsd:element name="Name" type="xsd:string"/>
          <xsd:element name="Course_Overview__c" type="xsd:string"/>
          <xsd:element name="Social_Program__c" type="xsd:string"/>
          <xsd:element name="Weighted_Value_of_All_Opportunities__c" type="xsd:float"/>
          <xsd:element name="Course_Fee__c" type="xsd:float"/>
          <xsd:element name="Registrations_Max__c" type="xsd:float"/>
          <xsd:element name="Strategy__c" type="xsd:string"/>
          <xsd:element name="Special_Course_Feature__c" type="xsd:string"/>
          <xsd:element name="Course_City__c" type="xsd:string"/>
          <xsd:element name="Course_Zip__c" type="xsd:string"/>
          <xsd:element name="StartDate" type="xsd:date"/>
          <xsd:element name="EndDate" type="xsd:date"/>
          <xsd:element name="Language__c" type="xsd:string"/>
          <xsd:element name="Duration__c" type="xsd:float"/>
          <xsd:element name="Currency__c" type="xsd:string"/>
          <xsd:element name="Venue_Name__c" type="xsd:string"/>
          <xsd:element name="Credits_Given__c" type="xsd:string"/>
          <xsd:element name="Course_State__c" type="xsd:string"/>
          <xsd:element name="Venue_Country__c" type="xsd:string"/>
          <xsd:element name="Related_Course_1__c" type="xsd:string"/>
          <xsd:element name="Related_Course_2__c" type="xsd:string"/>
          <xsd:element name="Related_Course_3__c" type="xsd:string"/>
          <xsd:element name="Related_Course_4__c" type="xsd:string"/>
          <xsd:element name="Related_Course_5__c" type="xsd:string"/>
          <xsd:element name="SAP_Product_Number__c" type="xsd:string"/>
          <xsd:element name="Course_Address_1__c" type="xsd:string"/>
          <xsd:element name="Course_Address_2__c" type="xsd:string"/>
          <xsd:element name="Course_Classification__c" type="xsd:string"/>
          <xsd:element name="Level__c" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Contact" type="ContactType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ContactType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Email" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Phone" type="xsd:byte"/>
          <xsd:element minOccurs="0" name="DSE__DS_Company__c" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.SRecords">
    <wsdl:documentation/>
    <wsdl:part element="p2:SRecords" name="SRecords"/>
  </wsdl:message>
  <wsdl:portType name="MI255_BPM_TEAC_Create_Update_Course_ia">
    <wsdl:documentation/>
    <wsdl:operation name="MI255_BPM_TEAC_Create_Update_Course_ia">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_MI255_BPM_TEAC_Create_Update_Course_ia"/>
      </wsp:Policy>
      <wsdl:input message="p1:p2.SRecords"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI255_BPM_TEAC_Create_Update_Course_iaBinding" type="p1:MI255_BPM_TEAC_Create_Update_Course_ia">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MI255_BPM_TEAC_Create_Update_Course_ia">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
