SC_TEAC/nobelbiocare.com/p_teac/pr/pm/course/_comp/src/wsdl/MI268_BPM_GetMultiselectionProductAttributes_os.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/TnE" xmlns:p2="urn:Magento" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI268_BPM_GetMultiselectionProductAttributes_os" targetNamespace="http://nobelbiocare.com/BPM/TnE">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>3487ee6b79bf11e69aa10000005f8a66</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="chdaro"/>
      <changed by="chdaro" on="1473777287432"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="c90998ee83283bd1843877908911765b"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="MI268_BPM_GetMultiselectionProductAttributes_os">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="p2.catalogProductAttributeListResponse">
        <ifw:messType>ifmextmes</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ED_StoreOnline_WSDL_SOAP_API_V2</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ifw:elem>
          <ifw:elem id="SUBNAME">catalogProductAttributeListResponse</ifw:elem>
          <ifw:elem id="SUBNAMESPACE">urn:Magento</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ifw:technicalNamespace>
        <ifw:VersionID>3008562075d911e6ad340000005f8a66</ifw:VersionID>
      </ifw:message>
      <ifw:message name="p2.catalogProductAttributeListRequest">
        <ifw:messType>ifmextmes</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ED_StoreOnline_WSDL_SOAP_API_V2</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ifw:elem>
          <ifw:elem id="SUBNAME">catalogProductAttributeListRequest</ifw:elem>
          <ifw:elem id="SUBNAMESPACE">urn:Magento</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ifw:technicalNamespace>
        <ifw:VersionID>3008562075d911e6ad340000005f8a66</ifw:VersionID>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
        <ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_c90998ee83283bd1843877908911765b_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/TnE</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_MI268_BPM_GetMultiselectionProductAttributes_os"/>
  <wsdl:types>
    <xsd:schema xmlns="urn:Magento" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
      <xsd:element name="catalogProductAttributeListResponseParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="catalogAttributeEntityArray"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="catalogProductAttributeListRequestParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
            <xsd:element name="setId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="catalogAttributeEntityArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="complexObjectArray" type="catalogAttributeEntity"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="catalogAttributeEntity">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="attribute_id" type="xsd:int"/>
          <xsd:element minOccurs="0" name="code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
          <xsd:element minOccurs="0" name="required" type="xsd:string"/>
          <xsd:element minOccurs="0" name="scope" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.catalogProductAttributeListRequest">
    <wsdl:documentation/>
    <wsdl:part element="p2:catalogProductAttributeListRequestParam" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="p2.catalogProductAttributeListResponse">
    <wsdl:documentation/>
    <wsdl:part element="p2:catalogProductAttributeListResponseParam" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="MI268_BPM_GetMultiselectionProductAttributes_os">
    <wsdl:documentation/>
    <wsdl:operation name="MI268_BPM_GetMultiselectionProductAttributes_os">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_MI268_BPM_GetMultiselectionProductAttributes_os"/>
      </wsp:Policy>
      <wsdl:input message="p1:p2.catalogProductAttributeListRequest"/>
      <wsdl:output message="p1:p2.catalogProductAttributeListResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI268_BPM_GetMultiselectionProductAttributes_osBinding" type="p1:MI268_BPM_GetMultiselectionProductAttributes_os">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MI268_BPM_GetMultiselectionProductAttributes_os">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
