t/AED0F83D0A07F1D1AD7E5BA9089332FE/nobelbiocare.com~p_teac~pr~pm~speakers.wsar/META-INF/wsdl/nobelbiocarecom2Fpteac2Fpr2Fpm2Fspeakers2FMTMI263SpeakerImport/src/wsdl/MI263_BPM_SpeakerImport_ia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/Speakers" name="MI263_BPM_SpeakerImport_ia" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/Speakers" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns1:UsingPolicy>
  <ns2:properties xmlns:ns2="urn:com-sap:ifr:v2:wsdl">
    <ns2:category>ifmmessif</ns2:category>
    <ns2:VersionID>7b0b4f476dfc11e6bfd10000005f8a66</ns2:VersionID>
    <ns2:lifeCycleInfo>
      <objectState></objectState>
      <objectstatus value="A"></objectstatus>
      <personresponsible value="chdaro"></personresponsible>
      <changed by="chdaro" on="1472484477031"></changed>
    </ns2:lifeCycleInfo>
    <ns2:runtimeVersion uri="urn:sap-com:soap:xms:application:xip"></ns2:runtimeVersion>
    <ns2:communicationProfile uri="prf_dt_if_com_stateless"></ns2:communicationProfile>
    <ns2:securityProfile uri="prf_dt_if_sec_basic"></ns2:securityProfile>
    <ns2:interfacePattern p2p="true"></ns2:interfacePattern>
    <ns2:isSensitiveData>false</ns2:isSensitiveData>
    <ns2:classifications>
      <ns2:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"></ns2:classification>
      <ns2:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="adb43573200e38c3850efce245c95158"></ns2:classification>
    </ns2:classifications>
    <ns2:additionalAttributes></ns2:additionalAttributes>
    <ns2:methods>
      <ns2:method name="MI263_BPM_SpeakerImport_ia">
        <ns2:isSynchron>false</ns2:isSynchron>
        <ns2:isIdempotent>false</ns2:isIdempotent>
        <ns2:isInbound>true</ns2:isInbound>
        <ns2:interfaceCategory>inbound</ns2:interfaceCategory>
        <ns2:communicationProfile uri="prf_dt_op_com_async"></ns2:communicationProfile>
        <ns2:contextobjects></ns2:contextobjects>
      </ns2:method>
    </ns2:methods>
    <ns2:messages>
      <ns2:message name="MT_Speakers_Request">
        <ns2:messType>ifmmessage</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">MT_Speakers_Request</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/Speakers</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/Speakers</ns2:technicalNamespace>
        <ns2:VersionID>607979de6dfc11e6a8620000005f8a66</ns2:VersionID>
        <ns2:xmlNamespace>http://nobelbiocare.com/BPM/Speakers</ns2:xmlNamespace>
        <ns2:dataType name="DT_Speakers_Request" namespace="http://nobelbiocare.com/BPM/Speakers" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_Speakers_Request~namespace=http://nobelbiocare.com/BPM/Speakers~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"></ns2:dataType>
      </ns2:message>
    </ns2:messages>
    <ns2:matchingInterfaces></ns2:matchingInterfaces>
    <ns2:genericProperties>
      <ns2:swcvinfo>
        <ns2:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns2:guid>
        <ns2:name>BPM, 1.0 of nobelbiocare.com</ns2:name>
      </ns2:swcvinfo>
      <ns2:languages>
        <ns2:language internalCode="EN" original="true"></ns2:language>
      </ns2:languages>
      <ns2:documentation type="I">
        <name>_ID_adb43573200e38c3850efce245c95158_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/Speakers</namespace>
      </ns2:documentation>
    </ns2:genericProperties>
  </ns2:properties>
  <ns3:Policy xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/09/policy" ns4:Id="OP_MI263_BPM_SpeakerImport_ia" xmlns:ns4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"></ns3:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nobelbiocare.com/BPM/Speakers">
      <xsd:complexType name="DT_Speakers_Request">
        <xsd:sequence>
          <xsd:element name="Contacts" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Id" type="xsd:string"></xsd:element>
                <xsd:element name="Biography__c" type="xsd:string"></xsd:element>
                <xsd:element name="Contact_Id_18__c" type="xsd:string"></xsd:element>
                <xsd:element name="Name" type="xsd:string"></xsd:element>
                <xsd:element name="Contact_Alias__c" type="xsd:string"></xsd:element>
                <xsd:element name="Picture_Id__c" type="xsd:string"></xsd:element>
                <xsd:element name="Preferred_Lecture_Topics__c" type="xsd:string"></xsd:element>
                <xsd:element name="Speaker_Languages__c" type="xsd:string"></xsd:element>
                <xsd:element name="Speaker_Status__c" type="xsd:string"></xsd:element>
                <xsd:element name="Speaker_Type__c" type="xsd:string"></xsd:element>
                <xsd:element name="Title" type="xsd:string"></xsd:element>
                <xsd:element name="Body" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BodyName" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="Operation" type="xsd:string"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MT_Speakers_Request" type="tns:DT_Speakers_Request"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Speakers_Request">
    <wsdl:part name="MT_Speakers_Request" element="tns:MT_Speakers_Request"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MI263_BPM_SpeakerImport_ia">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="MI263_BPM_SpeakerImport_ia">
      <wsdl:documentation></wsdl:documentation>
      <ns5:Policy xmlns:ns5="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns5:PolicyReference URI="#OP_MI263_BPM_SpeakerImport_ia"></ns5:PolicyReference>
      </ns5:Policy>
      <wsdl:input message="tns:MT_Speakers_Request"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI263_BPM_SpeakerImport_iaBinding" type="tns:MI263_BPM_SpeakerImport_ia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
    <wsdl:operation name="MI263_BPM_SpeakerImport_ia">
      <soap:operation soapAction=""></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
    </wsdl:operation>
    <ns6:PolicyReference xmlns:ns6="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#GLX_POLICY"></ns6:PolicyReference>
  </wsdl:binding>
  <wsdl:service name="MI263_BPM_SpeakerImport_iaService">
    <wsdl:port name="MI263_BPM_SpeakerImport_iaPort" binding="tns:MI263_BPM_SpeakerImport_iaBinding">
      <soap:address location="http://www.example.org/bpm/nobelbiocarecom/pteac/pr/pm/speakers/MTMI263SpeakerImport"></soap:address>
    </wsdl:port>
  </wsdl:service>
  <ns7:Policy xmlns:ns7="http://schemas.xmlsoap.org/ws/2004/09/policy" ns8:Id="GLX_POLICY" xmlns:ns8="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <ns7:ExactlyOne>
      <ns7:All>
        <ns7:ExactlyOne>
          <ns7:All>
            <ns9:TransportBinding xmlns:ns9="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
              <ns7:Policy>
                <ns9:TransportToken>
                  <ns7:Policy>
                    <ns9:HttpsToken>
                      <ns7:Policy>
                        <ns9:HttpBasicAuthentication></ns9:HttpBasicAuthentication>
                      </ns7:Policy>
                    </ns9:HttpsToken>
                  </ns7:Policy>
                </ns9:TransportToken>
                <ns9:AlgorithmSuite>
                  <ns7:Policy>
                    <ns9:TripleDesRsa15></ns9:TripleDesRsa15>
                  </ns7:Policy>
                </ns9:AlgorithmSuite>
                <ns9:Layout>
                  <ns7:Policy>
                    <ns9:Strict></ns9:Strict>
                  </ns7:Policy>
                </ns9:Layout>
              </ns7:Policy>
            </ns9:TransportBinding>
          </ns7:All>
          <ns7:All>
            <ns10:TransportBinding xmlns:ns10="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
              <ns7:Policy>
                <ns10:TransportToken>
                  <ns7:Policy>
                    <ns10:HttpsToken>
                      <ns7:Policy>
                        <ns11:HTTPSSO2 xmlns:ns11="http://www.sap.com/webas/630/soap/features/security/policy"></ns11:HTTPSSO2>
                      </ns7:Policy>
                    </ns10:HttpsToken>
                  </ns7:Policy>
                </ns10:TransportToken>
                <ns10:AlgorithmSuite>
                  <ns7:Policy>
                    <ns10:TripleDesRsa15></ns10:TripleDesRsa15>
                  </ns7:Policy>
                </ns10:AlgorithmSuite>
                <ns10:Layout>
                  <ns7:Policy>
                    <ns10:Strict></ns10:Strict>
                  </ns7:Policy>
                </ns10:Layout>
              </ns7:Policy>
            </ns10:TransportBinding>
          </ns7:All>
        </ns7:ExactlyOne>
      </ns7:All>
    </ns7:ExactlyOne>
  </ns7:Policy>
</wsdl:definitions>
