SC_TEAC/nobelbiocare.com/p_teac/pr/pm/speakers/_comp/src/wsdl/MI263_BPM_SpeakerImport_ia.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/Speakers" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI263_BPM_SpeakerImport_ia" targetNamespace="http://nobelbiocare.com/BPM/Speakers">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>7b0b4f476dfc11e6bfd10000005f8a66</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="chdaro"/>
      <changed by="chdaro" on="1472484477031"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:xms:application:xip"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="adb43573200e38c3850efce245c95158"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="MI263_BPM_SpeakerImport_ia">
        <ifw:isSynchron>false</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>true</ifw:isInbound>
        <ifw:interfaceCategory>inbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_async"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="MT_Speakers_Request">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_Speakers_Request</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/Speakers</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/Speakers</ifw:technicalNamespace>
        <ifw:VersionID>607979de6dfc11e6a8620000005f8a66</ifw:VersionID>
        <ifw:xmlNamespace>http://nobelbiocare.com/BPM/Speakers</ifw:xmlNamespace>
        <ifw:dataType name="DT_Speakers_Request" namespace="http://nobelbiocare.com/BPM/Speakers" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_Speakers_Request~namespace=http://nobelbiocare.com/BPM/Speakers~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
        <ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_adb43573200e38c3850efce245c95158_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/Speakers</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_MI263_BPM_SpeakerImport_ia"/>
  <wsdl:types>
    <xsd:schema xmlns="http://nobelbiocare.com/BPM/Speakers" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/BPM/Speakers">
      <xsd:element name="MT_Speakers_Request" type="DT_Speakers_Request"/>
      <xsd:complexType name="DT_Speakers_Request">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Contacts">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Id" type="xsd:string"/>
                <xsd:element name="Biography__c" type="xsd:string"/>
                <xsd:element name="Contact_Id_18__c" type="xsd:string"/>
                <xsd:element name="Name" type="xsd:string"/>
                <xsd:element name="Contact_Alias__c" type="xsd:string"/>
                <xsd:element name="Picture_Id__c" type="xsd:string"/>
                <xsd:element name="Preferred_Lecture_Topics__c" type="xsd:string"/>
                <xsd:element name="Speaker_Languages__c" type="xsd:string"/>
                <xsd:element name="Speaker_Status__c" type="xsd:string"/>
                <xsd:element name="Speaker_Type__c" type="xsd:string"/>
                <xsd:element name="Title" type="xsd:string"/>
                <xsd:element minOccurs="0" name="Body" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BodyName" type="xsd:string"/>
                <xsd:element name="Operation" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Speakers_Request">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_Speakers_Request" name="MT_Speakers_Request"/>
  </wsdl:message>
  <wsdl:portType name="MI263_BPM_SpeakerImport_ia">
    <wsdl:documentation/>
    <wsdl:operation name="MI263_BPM_SpeakerImport_ia">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_MI263_BPM_SpeakerImport_ia"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_Speakers_Request"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI263_BPM_SpeakerImport_iaBinding" type="p1:MI263_BPM_SpeakerImport_ia">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MI263_BPM_SpeakerImport_ia">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
