SC_SFDC/nobelbiocare.com/p_sfdc/pr/pm/re/account_performance/_comp/src/wsdl/MI280_BPM_Get_Performance_LastMod_os.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:p2="urn:partner.soap.sforce.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI280_BPM_Get_Performance_LastMod_os" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>daea7ff1fab811e69c100000005f8a66</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="chpeji"/>
      <changed by="chpeji" on="1487958252239"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="4fbe34aefbbd3c649d6f2beba319383b"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="MI280_BPM_Get_Performance_LastMod_os">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="MT_Performance_LastMod">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_Performance_LastMod</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:technicalNamespace>
        <ifw:VersionID>46d4ba75eeed11e68b150000005f8a66</ifw:VersionID>
        <ifw:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:xmlNamespace>
        <ifw:dataType name="DT_Performance_LastMod" namespace="http://nobelbiocare.com/BPM/SFDC/Revenue" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_Performance_LastMod~namespace=http://nobelbiocare.com/BPM/SFDC/Revenue~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"/>
      </ifw:message>
      <ifw:message name="p2.ApiFault">
        <ifw:messType>ifmextmes</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ED_CVM_WSDL_APEX_Partner</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Common</ifw:elem>
          <ifw:elem id="SUBNAME">ApiFault</ifw:elem>
          <ifw:elem id="SUBNAMESPACE">urn:partner.soap.sforce.com</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Common</ifw:technicalNamespace>
        <ifw:VersionID>9542a333ee9611e6b1890000005f8a66</ifw:VersionID>
      </ifw:message>
      <ifw:message name="MT_QueryLastMod">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_QueryLastMod</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:technicalNamespace>
        <ifw:VersionID>2524d64efab511e6cc6f0000005f8a66</ifw:VersionID>
        <ifw:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:xmlNamespace>
        <ifw:dataType name="DT_QueryLastMod" namespace="http://nobelbiocare.com/BPM/SFDC/Revenue" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_QueryLastMod~namespace=http://nobelbiocare.com/BPM/SFDC/Revenue~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
        <ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_4fbe34aefbbd3c649d6f2beba319383b_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/SFDC/Revenue</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_MI280_BPM_Get_Performance_LastMod_os"/>
  <wsdl:types>
    <xsd:schema xmlns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:element name="MT_QueryLastMod" type="DT_QueryLastMod"/>
      <xsd:element name="MT_Performance_LastMod" type="DT_Performance_LastMod"/>
      <xsd:complexType name="DT_Performance_LastMod">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Row">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="SAP_External_Id__c" type="xsd:string"/>
                <xsd:element name="Lastmodified" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_QueryLastMod">
        <xsd:sequence>
          <xsd:element name="TimeStamp" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" name="Row">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="CUSTOMER" type="xsd:string"/>
                <xsd:element minOccurs="0" name="CALDAY" type="xsd:string"/>
                <xsd:element minOccurs="0" name="CURRENCY" type="xsd:string"/>
                <xsd:element minOccurs="0" name="SALESORG" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="urn:fault.partner.soap.sforce.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:fault.partner.soap.sforce.com">
      <xsd:element name="fault" type="ApiFault"/>
      <xsd:simpleType name="ExceptionCode">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="APEX_TRIGGER_COUPLING_LIMIT"/>
          <xsd:enumeration value="API_CURRENTLY_DISABLED"/>
          <xsd:enumeration value="API_DISABLED_FOR_ORG"/>
          <xsd:enumeration value="ARGUMENT_OBJECT_PARSE_ERROR"/>
          <xsd:enumeration value="BATCH_PROCESSING_HALTED"/>
          <xsd:enumeration value="CANNOT_DELETE_OWNER"/>
          <xsd:enumeration value="CANT_ADD_STANDADRD_PORTAL_USER_TO_TERRITORY"/>
          <xsd:enumeration value="CANT_ADD_STANDARD_PORTAL_USER_TO_TERRITORY"/>
          <xsd:enumeration value="CIRCULAR_OBJECT_GRAPH"/>
          <xsd:enumeration value="CLIENT_NOT_ACCESSIBLE_FOR_USER"/>
          <xsd:enumeration value="CLIENT_REQUIRE_UPDATE_FOR_USER"/>
          <xsd:enumeration value="CONTENT_HUB_AUTHENTICATION_EXCEPTION"/>
          <xsd:enumeration value="CONTENT_HUB_FILE_DOWNLOAD_EXCEPTION"/>
          <xsd:enumeration value="CONTENT_HUB_FILE_NOT_FOUND_EXCEPTION"/>
          <xsd:enumeration value="CONTENT_HUB_INVALID_OBJECT_TYPE_EXCEPTION"/>
          <xsd:enumeration value="CONTENT_HUB_SECURITY_EXCEPTION"/>
          <xsd:enumeration value="CONTENT_HUB_UNEXPECTED_EXCEPTION"/>
          <xsd:enumeration value="CUSTOM_METADATA_LIMIT_EXCEEDED"/>
          <xsd:enumeration value="DATACLOUD_API_CLIENT_EXCEPTION"/>
          <xsd:enumeration value="DATACLOUD_API_DISABLED_EXCEPTION"/>
          <xsd:enumeration value="DATACLOUD_API_SERVER_BUSY_EXCEPTION"/>
          <xsd:enumeration value="DATACLOUD_API_SERVER_EXCEPTION"/>
          <xsd:enumeration value="DATACLOUD_API_TIMEOUT_EXCEPTION"/>
          <xsd:enumeration value="DATACLOUD_API_UNAVAILABLE"/>
          <xsd:enumeration value="DUPLICATE_ARGUMENT_VALUE"/>
          <xsd:enumeration value="DUPLICATE_VALUE"/>
          <xsd:enumeration value="EMAIL_BATCH_SIZE_LIMIT_EXCEEDED"/>
          <xsd:enumeration value="EMAIL_TO_CASE_INVALID_ROUTING"/>
          <xsd:enumeration value="EMAIL_TO_CASE_LIMIT_EXCEEDED"/>
          <xsd:enumeration value="EMAIL_TO_CASE_NOT_ENABLED"/>
          <xsd:enumeration value="ENVIRONMENT_HUB_MEMBERSHIP_CONFLICT"/>
          <xsd:enumeration value="EXCEEDED_ID_LIMIT"/>
          <xsd:enumeration value="EXCEEDED_LEAD_CONVERT_LIMIT"/>
          <xsd:enumeration value="EXCEEDED_MAX_SIZE_REQUEST"/>
          <xsd:enumeration value="EXCEEDED_MAX_TYPES_LIMIT"/>
          <xsd:enumeration value="EXCEEDED_QUOTA"/>
          <xsd:enumeration value="EXTERNAL_OBJECT_AUTHENTICATION_EXCEPTION"/>
          <xsd:enumeration value="EXTERNAL_OBJECT_CONNECTION_EXCEPTION"/>
          <xsd:enumeration value="EXTERNAL_OBJECT_EXCEPTION"/>
          <xsd:enumeration value="EXTERNAL_OBJECT_UNSUPPORTED_EXCEPTION"/>
          <xsd:enumeration value="FEDERATED_SEARCH_ERROR"/>
          <xsd:enumeration value="FEED_NOT_ENABLED_FOR_OBJECT"/>
          <xsd:enumeration value="FUNCTIONALITY_NOT_ENABLED"/>
          <xsd:enumeration value="FUNCTIONALITY_TEMPORARILY_UNAVAILABLE"/>
          <xsd:enumeration value="ILLEGAL_QUERY_PARAMETER_VALUE"/>
          <xsd:enumeration value="INACTIVE_OWNER_OR_USER"/>
          <xsd:enumeration value="INACTIVE_PORTAL"/>
          <xsd:enumeration value="INSUFFICIENT_ACCESS"/>
          <xsd:enumeration value="INTERNAL_CANVAS_ERROR"/>
          <xsd:enumeration value="INVALID_ASSIGNMENT_RULE"/>
          <xsd:enumeration value="INVALID_BATCH_REQUEST"/>
          <xsd:enumeration value="INVALID_BATCH_SIZE"/>
          <xsd:enumeration value="INVALID_CLIENT"/>
          <xsd:enumeration value="INVALID_CROSS_REFERENCE_KEY"/>
          <xsd:enumeration value="INVALID_DATE_FORMAT"/>
          <xsd:enumeration value="INVALID_FIELD"/>
          <xsd:enumeration value="INVALID_FILTER_LANGUAGE"/>
          <xsd:enumeration value="INVALID_FILTER_VALUE"/>
          <xsd:enumeration value="INVALID_ID_FIELD"/>
          <xsd:enumeration value="INVALID_INPUT_COMBINATION"/>
          <xsd:enumeration value="INVALID_LOCALE_LANGUAGE"/>
          <xsd:enumeration value="INVALID_LOCATOR"/>
          <xsd:enumeration value="INVALID_LOGIN"/>
          <xsd:enumeration value="INVALID_MULTIPART_REQUEST"/>
          <xsd:enumeration value="INVALID_NEW_PASSWORD"/>
          <xsd:enumeration value="INVALID_OPERATION"/>
          <xsd:enumeration value="INVALID_OPERATION_WITH_EXPIRED_PASSWORD"/>
          <xsd:enumeration value="INVALID_PACKAGE_VERSION"/>
          <xsd:enumeration value="INVALID_PAGING_OPTION"/>
          <xsd:enumeration value="INVALID_QUERY_FILTER_OPERATOR"/>
          <xsd:enumeration value="INVALID_QUERY_LOCATOR"/>
          <xsd:enumeration value="INVALID_QUERY_SCOPE"/>
          <xsd:enumeration value="INVALID_REPLICATION_DATE"/>
          <xsd:enumeration value="INVALID_SEARCH"/>
          <xsd:enumeration value="INVALID_SEARCH_SCOPE"/>
          <xsd:enumeration value="INVALID_SESSION_ID"/>
          <xsd:enumeration value="INVALID_SOAP_HEADER"/>
          <xsd:enumeration value="INVALID_SORT_OPTION"/>
          <xsd:enumeration value="INVALID_SSO_GATEWAY_URL"/>
          <xsd:enumeration value="INVALID_TYPE"/>
          <xsd:enumeration value="INVALID_TYPE_FOR_OPERATION"/>
          <xsd:enumeration value="JIGSAW_ACTION_DISABLED"/>
          <xsd:enumeration value="JIGSAW_IMPORT_LIMIT_EXCEEDED"/>
          <xsd:enumeration value="JIGSAW_REQUEST_NOT_SUPPORTED"/>
          <xsd:enumeration value="JSON_PARSER_ERROR"/>
          <xsd:enumeration value="LICENSING_UNKNOWN_ERROR"/>
          <xsd:enumeration value="LIMIT_EXCEEDED"/>
          <xsd:enumeration value="LOGIN_CHALLENGE_ISSUED"/>
          <xsd:enumeration value="LOGIN_CHALLENGE_PENDING"/>
          <xsd:enumeration value="LOGIN_DURING_RESTRICTED_DOMAIN"/>
          <xsd:enumeration value="LOGIN_DURING_RESTRICTED_TIME"/>
          <xsd:enumeration value="LOGIN_MUST_USE_SECURITY_TOKEN"/>
          <xsd:enumeration value="MALFORMED_ID"/>
          <xsd:enumeration value="MALFORMED_QUERY"/>
          <xsd:enumeration value="MALFORMED_SEARCH"/>
          <xsd:enumeration value="MISSING_ARGUMENT"/>
          <xsd:enumeration value="MISSING_RECORD"/>
          <xsd:enumeration value="MUTUAL_AUTHENTICATION_FAILED"/>
          <xsd:enumeration value="NOT_MODIFIED"/>
          <xsd:enumeration value="NO_SOFTPHONE_LAYOUT"/>
          <xsd:enumeration value="NUMBER_OUTSIDE_VALID_RANGE"/>
          <xsd:enumeration value="OPERATION_TOO_LARGE"/>
          <xsd:enumeration value="ORG_IN_MAINTENANCE"/>
          <xsd:enumeration value="ORG_IS_DOT_ORG"/>
          <xsd:enumeration value="ORG_IS_SIGNING_UP"/>
          <xsd:enumeration value="ORG_LOCKED"/>
          <xsd:enumeration value="ORG_NOT_OWNED_BY_INSTANCE"/>
          <xsd:enumeration value="PASSWORD_LOCKOUT"/>
          <xsd:enumeration value="PORTAL_NO_ACCESS"/>
          <xsd:enumeration value="POST_BODY_PARSE_ERROR"/>
          <xsd:enumeration value="QUERY_TIMEOUT"/>
          <xsd:enumeration value="QUERY_TOO_COMPLICATED"/>
          <xsd:enumeration value="REQUEST_LIMIT_EXCEEDED"/>
          <xsd:enumeration value="REQUEST_RUNNING_TOO_LONG"/>
          <xsd:enumeration value="SERVER_UNAVAILABLE"/>
          <xsd:enumeration value="SERVICE_DESK_NOT_ENABLED"/>
          <xsd:enumeration value="SOCIALCRM_FEEDSERVICE_API_CLIENT_EXCEPTION"/>
          <xsd:enumeration value="SOCIALCRM_FEEDSERVICE_API_SERVER_EXCEPTION"/>
          <xsd:enumeration value="SOCIALCRM_FEEDSERVICE_API_UNAVAILABLE"/>
          <xsd:enumeration value="SSO_SERVICE_DOWN"/>
          <xsd:enumeration value="TOO_MANY_APEX_REQUESTS"/>
          <xsd:enumeration value="TOO_MANY_RECIPIENTS"/>
          <xsd:enumeration value="TOO_MANY_RECORDS"/>
          <xsd:enumeration value="TRIAL_EXPIRED"/>
          <xsd:enumeration value="UNABLE_TO_LOCK_ROW"/>
          <xsd:enumeration value="UNKNOWN_ATTACHMENT_EXCEPTION"/>
          <xsd:enumeration value="UNKNOWN_EXCEPTION"/>
          <xsd:enumeration value="UNSUPPORTED_API_VERSION"/>
          <xsd:enumeration value="UNSUPPORTED_ATTACHMENT_ENCODING"/>
          <xsd:enumeration value="UNSUPPORTED_CLIENT"/>
          <xsd:enumeration value="UNSUPPORTED_MEDIA_TYPE"/>
          <xsd:enumeration value="XML_PARSER_ERROR"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ApiFault">
        <xsd:sequence>
          <xsd:element form="qualified" name="exceptionCode" type="ExceptionCode"/>
          <xsd:element form="qualified" name="exceptionMessage" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_QueryLastMod">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_QueryLastMod" name="MT_QueryLastMod"/>
  </wsdl:message>
  <wsdl:message name="MT_Performance_LastMod">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_Performance_LastMod" name="MT_Performance_LastMod"/>
  </wsdl:message>
  <wsdl:message name="p2.ApiFault">
    <wsdl:documentation/>
    <wsdl:part xmlns:fns="urn:fault.partner.soap.sforce.com" element="fns:fault" name="fault"/>
  </wsdl:message>
  <wsdl:portType name="MI280_BPM_Get_Performance_LastMod_os">
    <wsdl:documentation/>
    <wsdl:operation name="MI280_BPM_Get_Performance_LastMod_os">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_MI280_BPM_Get_Performance_LastMod_os"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_QueryLastMod"/>
      <wsdl:output message="p1:MT_Performance_LastMod"/>
      <wsdl:fault message="p1:p2.ApiFault" name="p2.ApiFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI280_BPM_Get_Performance_LastMod_osBinding" type="p1:MI280_BPM_Get_Performance_LastMod_os">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MI280_BPM_Get_Performance_LastMod_os">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="p2.ApiFault">
        <soap:fault xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="p2.ApiFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
