SC_SFDC/nobelbiocare.com/p_sfdc/pr/pm/re/account_performance/_comp/src/wsdl/MI280_BPM_FlowControl_ia.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI280_BPM_FlowControl_ia" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>15a89ea6ea1211e6a2ce0000005f8a66</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="chpeji"/>
      <changed by="chpeji" on="1486127406770"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:server:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="b3703514e2a833b89e36b38c6fba2116"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="MI280_BPM_FlowControl_ia">
        <ifw:isSynchron>false</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>true</ifw:isInbound>
        <ifw:interfaceCategory>inbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_async"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="MT_FlowControl">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_FlowControl</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:technicalNamespace>
        <ifw:VersionID>aed38dedea0511e6ba450000005f8a66</ifw:VersionID>
        <ifw:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:xmlNamespace>
        <ifw:dataType name="DT_FlowControl" namespace="http://nobelbiocare.com/BPM/SFDC/Revenue" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_FlowControl~namespace=http://nobelbiocare.com/BPM/SFDC/Revenue~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
        <ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_b3703514e2a833b89e36b38c6fba2116_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/SFDC/Revenue</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_MI280_BPM_FlowControl_ia"/>
  <wsdl:types>
    <xsd:schema xmlns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:element name="MT_FlowControl" type="DT_FlowControl"/>
            <xsd:complexType name="DT_FlowControl">
        <xsd:sequence>
          <xsd:element name="CORRELATION" type="xsd:string"/>
          <xsd:element name="DELTALOAD" type="xsd:string"/>
          <xsd:element name="TOTALMESSAGES" type="xsd:integer"/>
          <xsd:element name="MESSAGENUMBER" type="xsd:integer"/>
          <xsd:element name="PROCESS" type="xsd:string"/>
          <xsd:element name="STATUS" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ERROR" type="xsd:string"/>
          <xsd:element name="BPMID" type="xsd:string"/>
          <xsd:element name="ROWSOK" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="REJECTEDROWS">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="ROW" type="xsd:string"/>
                <xsd:element name="ERROR" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_FlowControl">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_FlowControl" name="MT_FlowControl"/>
  </wsdl:message>
  <wsdl:portType name="MI280_BPM_FlowControl_ia">
    <wsdl:documentation/>
    <wsdl:operation name="MI280_BPM_FlowControl_ia">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_MI280_BPM_FlowControl_ia"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_FlowControl"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI280_BPM_FlowControl_iaBinding" type="p1:MI280_BPM_FlowControl_ia">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MI280_BPM_FlowControl_ia">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
