SC_SFDC/nobelbiocare.com/p_sfdc/pr/pm/re/account_performance/_comp/src/wsdl/MI280_BPM_DummyAcc_Email_oa.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI280_BPM_DummyAcc_Email_oa" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>665f366dfb3c11e6a0250000005f8a66</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="chpeji"/>
      <changed by="chpeji" on="1488014750349"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="5efa6d4fbf6a3b5dade3e3c6785dc10d"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="MI280_BPM_DummyAcc_Email_oa">
        <ifw:isSynchron>false</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_async"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="MT_Dummy_Account_Results">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_Dummy_Account_Results</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:technicalNamespace>
        <ifw:VersionID>185a7519faab11e69f960000005f8a66</ifw:VersionID>
        <ifw:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:xmlNamespace>
        <ifw:dataType name="DT_Dummy_Account_Results" namespace="http://nobelbiocare.com/BPM/SFDC/Revenue" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_Dummy_Account_Results~namespace=http://nobelbiocare.com/BPM/SFDC/Revenue~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
        <ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_5efa6d4fbf6a3b5dade3e3c6785dc10d_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/SFDC/Revenue</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_MI280_BPM_DummyAcc_Email_oa"/>
  <wsdl:types>
    <xsd:schema xmlns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:element name="MT_Dummy_Account_Results" type="DT_Dummy_Account_Results"/>
      <xsd:complexType name="DT_Dummy_Account">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="ACCOUNTS">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="OWNERID" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>Owner Id</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ACCSAPID" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>Account__r_SAP_ID__c</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="SAPID" type="xsd:string"/>
                <xsd:element minOccurs="0" name="VKORG" type="xsd:string"/>
                <xsd:element minOccurs="0" name="SALESORG" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Results">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Result">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="success" type="xsd:string"/>
                <xsd:element minOccurs="0" name="statuscode" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Dummy_Account_Results">
        <xsd:sequence>
          <xsd:element name="INITTIME" type="xsd:string"/>
          <xsd:element name="ENDTIME" type="xsd:string"/>
          <xsd:element name="ELAPTIME" type="xsd:string"/>
          <xsd:element name="Account" type="DT_Dummy_Account"/>
          <xsd:element name="Results" type="DT_Results"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Dummy_Account_Results">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_Dummy_Account_Results" name="MT_Dummy_Account_Results"/>
  </wsdl:message>
  <wsdl:portType name="MI280_BPM_DummyAcc_Email_oa">
    <wsdl:documentation/>
    <wsdl:operation name="MI280_BPM_DummyAcc_Email_oa">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_MI280_BPM_DummyAcc_Email_oa"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_Dummy_Account_Results"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI280_BPM_DummyAcc_Email_oaBinding" type="p1:MI280_BPM_DummyAcc_Email_oa">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MI280_BPM_DummyAcc_Email_oa">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
