SC_SFDC/nobelbiocare.com/p_sfdc/pr/pm/re/account_performance/_comp/src/wsdl/OM_AccPerf_LastM.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:p2="http://sap.com/xi/XI/SplitAndMerge" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
				  
	<wsdl:documentation/>
	
	 <wsdl:types>
	<xsd:schema xmlns="http://nobelbiocare.com/BPM/SFDC/Revenue" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
    <xsd:element name="MT_AccountPerf_LastMod" type="DT_AccountPerf_LastMod"/>
    <xsd:complexType name="DT_AccountPerf_LastMod">
        <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">663ebe22fa7811e6aa140000005f8a66</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Rejected" type="DT_GCVMBIBOD">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">8beb50b4fa6f11e68f2e0205857feb80</xsd:appinfo>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Retry" type="DT_GCVMBIBOD">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">8beb50b5fa6f11e6b7d30205857feb80</xsd:appinfo>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
<xsd:element name="MT_LastMod_Performance_Join" type="DT_LastMod_Performance_Join"/>
    <xsd:complexType name="DT_LastMod_Performance_Join">
        <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">0beb6b57ef1f11e6ae7d0000005f8a66</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Performance" type="DT_GCVMBIBOD"/>
            <xsd:element name="LastMod" type="DT_Performance_LastMod"/>
        </xsd:sequence>
    </xsd:complexType>
            <xsd:complexType name="DT_GCVMBIBOD">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Account performance - CVM Billings and Bookings</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="CORRELATION" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Correlation id</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DELTA" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>'X' for delta load, full load otherwise</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NUMBER" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Specifies the message number</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TOTAL" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Messages total</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ROW">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="CUSTOMER" type="xsd:string"/>
                <xsd:element minOccurs="0" name="CALDAY" type="xsd:string"/>
                <xsd:element minOccurs="0" name="SALESORG" type="xsd:string"/>
                <xsd:element minOccurs="0" name="CURRENCY" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GAMT161" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GAMT221" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GAMT222" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GAMT223" type="xsd:string"/>
                <xsd:element minOccurs="0" name="FISCVARNT" type="xsd:string"/>
                <xsd:element minOccurs="0" name="FISCPER" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GPERDAY01" type="xsd:string"/>
                <xsd:element minOccurs="0" name="FLAGACCOUNT" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>Flag to mark account creation</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ERROR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>Rejection error</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="DT_Performance_LastMod">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Row">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="SAP_External_Id__c" type="xsd:string"/>
                <xsd:element name="Lastmodified" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
        </xsd:schema>

	

	</wsdl:types>
  
 	<wsdl:message name="OMRequestMessage">
		<wsdl:documentation/>
			<wsdl:part element="p1:MT_LastMod_Performance_Join" name="MT_LastMod_Performance_Join"/>
	</wsdl:message>

	<wsdl:message name="OMResponseMessage">
		<wsdl:documentation/>
			    <wsdl:part element="p1:MT_AccountPerf_LastMod" name="MT_AccountPerf_LastMod"/>
	</wsdl:message>
 
  <wsdl:portType name="nobelbiocarecom_p_sfdcprpmreaccount_performance_OM_AccPerf_LastMPortType">
  	<wsdl:documentation/>
    <wsdl:operation name="OM_AccPerf_LastM">
      <wsdl:input message="p1:OMRequestMessage"/>
      <wsdl:output message="p1:OMResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="OM_AccPerf_LastMBinding" type="p1:nobelbiocarecom_p_sfdcprpmreaccount_performance_OM_AccPerf_LastMPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OM_AccPerf_LastM">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="nobelbiocare_com_p_sfdc_pr_pm_re_account_performance_OM_AccPerf_LastM_Service">
    <wsdl:port binding="p1:OM_AccPerf_LastMBinding" name="nobelbiocarecom_p_sfdcprpmreaccount_performance_OM_AccPerf_LastMPortType">
      <soap:address xmlns:soap="http/schemas.xmlsoap.org/wsdl/soap/" location="http://localhost:50500/nobelbiocare.com~p_sfdc/pr/pm/re/account_performance/wsdl/OM_AccPerf_LastM"/>
    </wsdl:port>
  </wsdl:service>
  
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
		<ifw:genericProperties>
			<ifw:swcvinfo>
				<ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
				<ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
			</ifw:swcvinfo>
			<ifw:ominfo>
				<ifw:guid>df5208bb56c53f8191c0fe17be742486</ifw:guid>
			</ifw:ominfo>
		</ifw:genericProperties>
	</ifw:properties>
  
</wsdl:definitions>
