SC_SFDC/nobelbiocare.com/p_sfdc/pr/pm/re/get_sum/_comp/src/wsdl/MI284_BPM_GetSum_EndCall_os.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:p2="http://soap.sforce.com/schemas/class/GetSumWebservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI284_BPM_GetSum_EndCall_os" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>aeb3cbcd60a711e799e60000005f8a66</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="chpeji"/>
      <changed by="chpeji" on="1499165938913"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="1b9d03820f0b3915b7b71536a66ef2c1"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="MI284_BPM_GetSum_EndCall_os">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="p2.runBatchResponse">
        <ifw:messType>ifmextmes</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ED_CVM_GetSumWebServices</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:elem>
          <ifw:elem id="SUBNAME">runBatchResponse</ifw:elem>
          <ifw:elem id="SUBNAMESPACE">http://soap.sforce.com/schemas/class/GetSumWebservices</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:technicalNamespace>
        <ifw:VersionID>db7bf88b609c11e7970e0000005f8a66</ifw:VersionID>
      </ifw:message>
      <ifw:message name="MT_GetSumWs">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_GetSumWs</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:technicalNamespace>
        <ifw:VersionID>7bc7538560a711e796110000005f8a66</ifw:VersionID>
        <ifw:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:xmlNamespace>
        <ifw:dataType name="DT_GetSumWs" namespace="http://nobelbiocare.com/BPM/SFDC/Revenue" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_GetSumWs~namespace=http://nobelbiocare.com/BPM/SFDC/Revenue~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
        <ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_1b9d03820f0b3915b7b71536a66ef2c1_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/SFDC/Revenue</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_MI284_BPM_GetSum_EndCall_os"/>
  <wsdl:types>
    <xsd:schema xmlns="http://soap.sforce.com/schemas/class/GetSumWebservices" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.sforce.com/schemas/class/GetSumWebservices">
      <xsd:element name="runBatchResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:element name="MT_GetSumWs" type="DT_GetSumWs"/>
      <xsd:complexType name="DT_GetSumWs">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="runBatch" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_GetSumWs">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_GetSumWs" name="MT_GetSumWs"/>
  </wsdl:message>
  <wsdl:message name="p2.runBatchResponse">
    <wsdl:documentation/>
    <wsdl:part element="p2:runBatchResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="MI284_BPM_GetSum_EndCall_os">
    <wsdl:documentation/>
    <wsdl:operation name="MI284_BPM_GetSum_EndCall_os">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_MI284_BPM_GetSum_EndCall_os"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_GetSumWs"/>
      <wsdl:output message="p1:p2.runBatchResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI284_BPM_GetSum_EndCall_osBinding" type="p1:MI284_BPM_GetSum_EndCall_os">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MI284_BPM_GetSum_EndCall_os">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
