t/6C68288712EDF8349B683EAFA3016560/tmp/wsdls/nobelbiocare.com~p_sfdc~pr~pm~re~get_sum/MI284_BPM_GetSum_EndCall_os.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue" name="MI284_BPM_GetSum_EndCall_os" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns1:UsingPolicy>
  <ns2:properties xmlns:ns2="urn:com-sap:ifr:v2:wsdl">
    <ns2:category>ifmmessif</ns2:category>
    <ns2:VersionID>aeb3cbcd60a711e799e60000005f8a66</ns2:VersionID>
    <ns2:lifeCycleInfo>
      <objectState></objectState>
      <objectstatus value="A"></objectstatus>
      <personresponsible value="chpeji"></personresponsible>
      <changed by="chpeji" on="1499165938913"></changed>
    </ns2:lifeCycleInfo>
    <ns2:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"></ns2:runtimeVersion>
    <ns2:communicationProfile uri="prf_dt_if_com_stateless"></ns2:communicationProfile>
    <ns2:securityProfile uri="prf_dt_if_sec_low"></ns2:securityProfile>
    <ns2:interfacePattern p2p="false">L</ns2:interfacePattern>
    <ns2:isSensitiveData>false</ns2:isSensitiveData>
    <ns2:classifications>
      <ns2:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"></ns2:classification>
      <ns2:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="1b9d03820f0b3915b7b71536a66ef2c1"></ns2:classification>
    </ns2:classifications>
    <ns2:additionalAttributes></ns2:additionalAttributes>
    <ns2:methods>
      <ns2:method name="MI284_BPM_GetSum_EndCall_os">
        <ns2:isSynchron>true</ns2:isSynchron>
        <ns2:isIdempotent>false</ns2:isIdempotent>
        <ns2:isInbound>false</ns2:isInbound>
        <ns2:interfaceCategory>outbound</ns2:interfaceCategory>
        <ns2:communicationProfile uri="prf_dt_op_com_sync"></ns2:communicationProfile>
        <ns2:lifeCycleInfo>
          <objectState></objectState>
        </ns2:lifeCycleInfo>
        <ns2:contextobjects></ns2:contextobjects>
      </ns2:method>
    </ns2:methods>
    <ns2:messages>
      <ns2:message name="p2.runBatchResponse">
        <ns2:messType>ifmextmes</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">ED_CVM_GetSumWebServices</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ns2:elem>
          <ns2:elem id="SUBNAME">runBatchResponse</ns2:elem>
          <ns2:elem id="SUBNAMESPACE">http://soap.sforce.com/schemas/class/GetSumWebservices</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ns2:technicalNamespace>
        <ns2:VersionID>db7bf88b609c11e7970e0000005f8a66</ns2:VersionID>
      </ns2:message>
      <ns2:message name="MT_GetSumWs">
        <ns2:messType>ifmmessage</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">MT_GetSumWs</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ns2:technicalNamespace>
        <ns2:VersionID>7bc7538560a711e796110000005f8a66</ns2:VersionID>
        <ns2:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ns2:xmlNamespace>
        <ns2:dataType name="DT_GetSumWs" namespace="http://nobelbiocare.com/BPM/SFDC/Revenue" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_GetSumWs~namespace=http://nobelbiocare.com/BPM/SFDC/Revenue~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"></ns2:dataType>
      </ns2:message>
    </ns2:messages>
    <ns2:matchingInterfaces></ns2:matchingInterfaces>
    <ns2:genericProperties>
      <ns2:swcvinfo>
        <ns2:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns2:guid>
        <ns2:name>BPM, 1.0 of nobelbiocare.com</ns2:name>
      </ns2:swcvinfo>
      <ns2:languages>
        <ns2:language internalCode="EN" original="true"></ns2:language>
      </ns2:languages>
      <ns2:documentation type="I">
        <name>_ID_1b9d03820f0b3915b7b71536a66ef2c1_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/SFDC/Revenue</namespace>
      </ns2:documentation>
    </ns2:genericProperties>
  </ns2:properties>
  <ns3:Policy xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/09/policy" ns4:Id="OP_MI284_BPM_GetSum_EndCall_os" xmlns:ns4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"></ns3:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://soap.sforce.com/schemas/class/GetSumWebservices" xmlns:tns="http://soap.sforce.com/schemas/class/GetSumWebservices">
      <xsd:element name="runBatchResponse">
        <xsd:complexType>
          <xsd:sequence></xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:complexType name="DT_GetSumWs">
        <xsd:sequence>
          <xsd:element name="runBatch" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MT_GetSumWs" type="tns:DT_GetSumWs"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_GetSumWs">
    <wsdl:part name="MT_GetSumWs" element="tns:MT_GetSumWs"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="p2.runBatchResponse">
    <wsdl:part name="parameters" xmlns:ns5="http://soap.sforce.com/schemas/class/GetSumWebservices" element="ns5:runBatchResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MI284_BPM_GetSum_EndCall_os">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="MI284_BPM_GetSum_EndCall_os">
      <wsdl:documentation></wsdl:documentation>
      <ns6:Policy xmlns:ns6="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns6:PolicyReference URI="#OP_MI284_BPM_GetSum_EndCall_os"></ns6:PolicyReference>
      </ns6:Policy>
      <wsdl:input message="tns:MT_GetSumWs"></wsdl:input>
      <wsdl:output message="tns:p2.runBatchResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI284_BPM_GetSum_EndCall_osBinding" type="tns:MI284_BPM_GetSum_EndCall_os">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="MI284_BPM_GetSum_EndCall_os">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
