SC_SFDC/nobelbiocare.com/p_sfdc/pr/pm/re/sales_bgt/_comp/src/wsdl/OM_SalesBDGT_Onwer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:p2="http://sap.com/xi/XI/SplitAndMerge" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
				  
	<wsdl:documentation/>
	
	 <wsdl:types>
	<xsd:schema xmlns="http://nobelbiocare.com/BPM/SFDC/Revenue" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
    <xsd:element name="MT_GCVMSLRBD" type="DT_GCVMSLRBD"/>
    <xsd:element name="MT_SalesRepBudget_OwnerId" type="DT_SalesRepBudget_OwnerId"/>
    <xsd:complexType name="DT_SalesRepBudget_OwnerId">
        <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">f0f16a24f9b111e692be0000005f8a66</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="SalesRepPerformance" type="DT_GCVMSLRBD">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ff2d0bfff9b111e6a0eb0205857feb80</xsd:appinfo>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserId" type="DT_UserId">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ff2d0c00f9b111e6b05a0205857feb80</xsd:appinfo>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserSalesOrg" type="DT_UserSalesOrg">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ff2d0c01f9b111e69a910205857feb80</xsd:appinfo>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DT_UserSalesOrg">
        <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">b23be93ff28c11e6a7980000005f8a66</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Row">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="User" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="SalesOrg" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DT_UserId">
        <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">33302d14f28911e6caad0000005f8a66</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Row">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="UserId" type="xsd:string"/>
                        <xsd:element name="SAP_PE_Number" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
            <xsd:complexType name="DT_GCVMSLRBD">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">CVM Sales Rep Budget</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="CORRELATION" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Correlation id</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DELTA" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>'X' for delta load, full load otherwise</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NUMBER" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Specifies the message number</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TOTAL" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Messages total</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ROW">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="SALESEMPLY" type="xsd:string"/>
                <xsd:element minOccurs="0" name="FISCPER" type="xsd:string"/>
                <xsd:element minOccurs="0" name="SALESORG" type="xsd:string"/>
                <xsd:element minOccurs="0" name="FISCVARNT" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GAMT160" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GAMT228" type="xsd:string"/>
                <xsd:element minOccurs="0" name="CURRENCY" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GPERDAY01" type="xsd:string"/>
                <xsd:element minOccurs="0" name="OWNERID" type="xsd:string"/>
                <xsd:element minOccurs="0" name="ERROR" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GAMT333" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GAMT332" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
        </xsd:schema>

	

	</wsdl:types>
  
 	<wsdl:message name="OMRequestMessage">
		<wsdl:documentation/>
			<wsdl:part element="p1:MT_SalesRepBudget_OwnerId" name="MT_SalesRepBudget_OwnerId"/>
	</wsdl:message>

	<wsdl:message name="OMResponseMessage">
		<wsdl:documentation/>
			    <wsdl:part element="p1:MT_GCVMSLRBD" name="MT_GCVMSLRBD"/>
	</wsdl:message>
 
  <wsdl:portType name="nobelbiocarecom_p_sfdcprpmresales_bgt_OM_SalesBDGT_OnwerPortType">
  	<wsdl:documentation/>
    <wsdl:operation name="OM_SalesBDGT_Onwer">
      <wsdl:input message="p1:OMRequestMessage"/>
      <wsdl:output message="p1:OMResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="OM_SalesBDGT_OnwerBinding" type="p1:nobelbiocarecom_p_sfdcprpmresales_bgt_OM_SalesBDGT_OnwerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OM_SalesBDGT_Onwer">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="nobelbiocare_com_p_sfdc_pr_pm_re_sales_bgt_OM_SalesBDGT_Onwer_Service">
    <wsdl:port binding="p1:OM_SalesBDGT_OnwerBinding" name="nobelbiocarecom_p_sfdcprpmresales_bgt_OM_SalesBDGT_OnwerPortType">
      <soap:address xmlns:soap="http/schemas.xmlsoap.org/wsdl/soap/" location="http://localhost:50500/nobelbiocare.com~p_sfdc/pr/pm/re/sales_bgt/wsdl/OM_SalesBDGT_Onwer"/>
    </wsdl:port>
  </wsdl:service>
  
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
		<ifw:genericProperties>
			<ifw:swcvinfo>
				<ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
				<ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
			</ifw:swcvinfo>
			<ifw:ominfo>
				<ifw:guid>7536ccab42a23515975c045aaf55e16d</ifw:guid>
			</ifw:ominfo>
		</ifw:genericProperties>
	</ifw:properties>
  
</wsdl:definitions>
