t/FDBA79ED3C167A343FF03AF682ECDE23/nobelbiocare.com~p_teac~pr~pm~course.wsar/META-INF/wsdl/nobelbiocarecom2Fpteac2Fpr2Fpm2Fcourse2FETStartMI255/src/wsdl/MI255_BPM_TEAC_Create_Update_Course_ia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/TnE" name="MI255_BPM_TEAC_Create_Update_Course_ia" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/TnE" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns1:UsingPolicy>
  <ns2:properties xmlns:ns2="urn:com-sap:ifr:v2:wsdl">
    <ns2:category>ifmmessif</ns2:category>
    <ns2:VersionID>0e9e93d078e811e6c6920000005f8a66</ns2:VersionID>
    <ns2:lifeCycleInfo>
      <objectState></objectState>
      <objectstatus value="A"></objectstatus>
      <personresponsible value="chdaro"></personresponsible>
      <changed by="chdaro" on="1473684889230"></changed>
    </ns2:lifeCycleInfo>
    <ns2:runtimeVersion uri="urn:sap-com:soap:xms:application:xip"></ns2:runtimeVersion>
    <ns2:communicationProfile uri="prf_dt_if_com_stateless"></ns2:communicationProfile>
    <ns2:securityProfile uri="prf_dt_if_sec_basic"></ns2:securityProfile>
    <ns2:interfacePattern p2p="true"></ns2:interfacePattern>
    <ns2:isSensitiveData>false</ns2:isSensitiveData>
    <ns2:classifications>
      <ns2:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"></ns2:classification>
      <ns2:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="1edfe9a2dea630b0a371ab16358a76dc"></ns2:classification>
    </ns2:classifications>
    <ns2:additionalAttributes></ns2:additionalAttributes>
    <ns2:methods>
      <ns2:method name="MI255_BPM_TEAC_Create_Update_Course_ia">
        <ns2:isSynchron>false</ns2:isSynchron>
        <ns2:isIdempotent>false</ns2:isIdempotent>
        <ns2:isInbound>true</ns2:isInbound>
        <ns2:interfaceCategory>inbound</ns2:interfaceCategory>
        <ns2:communicationProfile uri="prf_dt_op_com_async"></ns2:communicationProfile>
        <ns2:contextobjects></ns2:contextobjects>
      </ns2:method>
    </ns2:methods>
    <ns2:messages>
      <ns2:message name="p2.SRecords">
        <ns2:messType>ifmextmes</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">ED_Campaigns_Fixed_BPM</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/TnE</ns2:elem>
          <ns2:elem id="SUBNAME">SRecords</ns2:elem>
          <ns2:elem id="SUBNAMESPACE">http://nobelbiocare.com/bpm/teac</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/TnE</ns2:technicalNamespace>
        <ns2:VersionID>366ed36ec39511e6a3ff0000005f8a66</ns2:VersionID>
      </ns2:message>
    </ns2:messages>
    <ns2:matchingInterfaces></ns2:matchingInterfaces>
    <ns2:genericProperties>
      <ns2:swcvinfo>
        <ns2:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns2:guid>
        <ns2:name>BPM, 1.0 of nobelbiocare.com</ns2:name>
      </ns2:swcvinfo>
      <ns2:languages>
        <ns2:language internalCode="EN" original="true"></ns2:language>
      </ns2:languages>
      <ns2:documentation type="I">
        <name>_ID_1edfe9a2dea630b0a371ab16358a76dc_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/TnE</namespace>
      </ns2:documentation>
    </ns2:genericProperties>
  </ns2:properties>
  <ns3:Policy xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/09/policy" ns4:Id="OP_MI255_BPM_TEAC_Create_Update_Course_ia" xmlns:ns4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"></ns3:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nobelbiocare.com/bpm/teac" xmlns:tns="http://nobelbiocare.com/bpm/teac">
      <xsd:complexType name="SRecordsType">
        <xsd:sequence>
          <xsd:element name="Campaign" type="tns:CampaignType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CampaignType">
        <xsd:sequence>
          <xsd:element name="CUSTOM_Operation" type="xsd:string"></xsd:element>
          <xsd:element name="CUSTOM_Speaker_engagement__c" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="Magento_Sync_Request__c" type="xsd:boolean"></xsd:element>
          <xsd:element name="Exists_in_Magento__c" type="xsd:boolean"></xsd:element>
          <xsd:element name="Id" type="xsd:string"></xsd:element>
          <xsd:element name="Course_Number__c" type="xsd:string"></xsd:element>
          <xsd:element name="Name" type="xsd:string"></xsd:element>
          <xsd:element name="Course_Overview__c" type="xsd:string"></xsd:element>
          <xsd:element name="Social_Program__c" type="xsd:string"></xsd:element>
          <xsd:element name="Weighted_Value_of_All_Opportunities__c" type="xsd:float"></xsd:element>
          <xsd:element name="Course_Fee__c" type="xsd:float"></xsd:element>
          <xsd:element name="Registrations_Max__c" type="xsd:float"></xsd:element>
          <xsd:element name="Strategy__c" type="xsd:string"></xsd:element>
          <xsd:element name="Special_Course_Feature__c" type="xsd:string"></xsd:element>
          <xsd:element name="Course_City__c" type="xsd:string"></xsd:element>
          <xsd:element name="Course_Zip__c" type="xsd:string"></xsd:element>
          <xsd:element name="StartDate" type="xsd:date"></xsd:element>
          <xsd:element name="EndDate" type="xsd:date"></xsd:element>
          <xsd:element name="Language__c" type="xsd:string"></xsd:element>
          <xsd:element name="Duration__c" type="xsd:float"></xsd:element>
          <xsd:element name="Currency__c" type="xsd:string"></xsd:element>
          <xsd:element name="Venue_Name__c" type="xsd:string"></xsd:element>
          <xsd:element name="Credits_Given__c" type="xsd:string"></xsd:element>
          <xsd:element name="Course_State__c" type="xsd:string"></xsd:element>
          <xsd:element name="Venue_Country__c" type="xsd:string"></xsd:element>
          <xsd:element name="Related_Course_1__c" type="xsd:string"></xsd:element>
          <xsd:element name="Related_Course_2__c" type="xsd:string"></xsd:element>
          <xsd:element name="Related_Course_3__c" type="xsd:string"></xsd:element>
          <xsd:element name="Related_Course_4__c" type="xsd:string"></xsd:element>
          <xsd:element name="Related_Course_5__c" type="xsd:string"></xsd:element>
          <xsd:element name="SAP_Product_Number__c" type="xsd:string"></xsd:element>
          <xsd:element name="Course_Address_1__c" type="xsd:string"></xsd:element>
          <xsd:element name="Course_Address_2__c" type="xsd:string"></xsd:element>
          <xsd:element name="Course_Classification__c" type="xsd:string"></xsd:element>
          <xsd:element name="Level__c" type="xsd:string"></xsd:element>
          <xsd:element name="Contact" type="tns:ContactType" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ContactType">
        <xsd:sequence>
          <xsd:element name="Name" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="Email" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="Phone" type="xsd:byte" minOccurs="0"></xsd:element>
          <xsd:element name="DSE__DS_Company__c" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SRecords" type="tns:SRecordsType"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.SRecords">
    <wsdl:part name="SRecords" xmlns:ns5="http://nobelbiocare.com/bpm/teac" element="ns5:SRecords"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MI255_BPM_TEAC_Create_Update_Course_ia">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="MI255_BPM_TEAC_Create_Update_Course_ia">
      <wsdl:documentation></wsdl:documentation>
      <ns6:Policy xmlns:ns6="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns6:PolicyReference URI="#OP_MI255_BPM_TEAC_Create_Update_Course_ia"></ns6:PolicyReference>
      </ns6:Policy>
      <wsdl:input message="tns:p2.SRecords"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI255_BPM_TEAC_Create_Update_Course_iaBinding" type="tns:MI255_BPM_TEAC_Create_Update_Course_ia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
    <wsdl:operation name="MI255_BPM_TEAC_Create_Update_Course_ia">
      <soap:operation soapAction=""></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
    </wsdl:operation>
    <ns7:PolicyReference xmlns:ns7="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#GLX_POLICY"></ns7:PolicyReference>
  </wsdl:binding>
  <wsdl:service name="MI255_BPM_TEAC_Create_Update_Course_iaService">
    <wsdl:port name="MI255_BPM_TEAC_Create_Update_Course_iaPort" binding="tns:MI255_BPM_TEAC_Create_Update_Course_iaBinding">
      <soap:address location="http://www.example.org/bpm/nobelbiocarecom/pteac/pr/pm/course/ETStartMI255"></soap:address>
    </wsdl:port>
  </wsdl:service>
  <ns8:Policy xmlns:ns8="http://schemas.xmlsoap.org/ws/2004/09/policy" ns9:Id="GLX_POLICY" xmlns:ns9="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <ns8:ExactlyOne>
      <ns8:All>
        <ns8:ExactlyOne>
          <ns8:All>
            <ns10:TransportBinding xmlns:ns10="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
              <ns8:Policy>
                <ns10:TransportToken>
                  <ns8:Policy>
                    <ns10:HttpsToken>
                      <ns8:Policy>
                        <ns10:HttpBasicAuthentication></ns10:HttpBasicAuthentication>
                      </ns8:Policy>
                    </ns10:HttpsToken>
                  </ns8:Policy>
                </ns10:TransportToken>
                <ns10:AlgorithmSuite>
                  <ns8:Policy>
                    <ns10:TripleDesRsa15></ns10:TripleDesRsa15>
                  </ns8:Policy>
                </ns10:AlgorithmSuite>
                <ns10:Layout>
                  <ns8:Policy>
                    <ns10:Strict></ns10:Strict>
                  </ns8:Policy>
                </ns10:Layout>
              </ns8:Policy>
            </ns10:TransportBinding>
          </ns8:All>
          <ns8:All>
            <ns11:TransportBinding xmlns:ns11="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
              <ns8:Policy>
                <ns11:TransportToken>
                  <ns8:Policy>
                    <ns11:HttpsToken>
                      <ns8:Policy>
                        <ns12:HTTPSSO2 xmlns:ns12="http://www.sap.com/webas/630/soap/features/security/policy"></ns12:HTTPSSO2>
                      </ns8:Policy>
                    </ns11:HttpsToken>
                  </ns8:Policy>
                </ns11:TransportToken>
                <ns11:AlgorithmSuite>
                  <ns8:Policy>
                    <ns11:TripleDesRsa15></ns11:TripleDesRsa15>
                  </ns8:Policy>
                </ns11:AlgorithmSuite>
                <ns11:Layout>
                  <ns8:Policy>
                    <ns11:Strict></ns11:Strict>
                  </ns8:Policy>
                </ns11:Layout>
              </ns8:Policy>
            </ns11:TransportBinding>
          </ns8:All>
        </ns8:ExactlyOne>
      </ns8:All>
    </ns8:ExactlyOne>
  </ns8:Policy>
</wsdl:definitions>
