t/FD449B65B893F340B4E164E42BB5BCF2/tmp/wsdls/sap.com~tc~bpem~content~predefs~default/rootwsdl_SimpleTimerServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sap.com/glx/sampletimer/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sap.com/glx/sampletimer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xsd:schema targetNamespace="http://sap.com/glx/sampletimer/">
      <xsd:complexType name="getTime">
        <xsd:sequence></xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getTimeResponse">
        <xsd:sequence>
          <xsd:element name="return" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getTime" type="tns:getTime"></xsd:element>
      <xsd:element name="getTimeResponse" type="tns:getTimeResponse"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getTimeIn">
    <wsdl:part name="parameters" element="tns:getTime"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTimeOut">
    <wsdl:part name="getTimeResponse" element="tns:getTimeResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SampleTimer">
    <wsdl:operation name="getTime" parameterOrder="parameters">
      <wsdl:input message="tns:getTimeIn"></wsdl:input>
      <wsdl:output message="tns:getTimeOut"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleTimerBinding" type="tns:SampleTimer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="getTime">
      <soap:operation soapAction=""></soap:operation>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleTimerServices">
    <wsdl:port name="SampleTimerPort" binding="tns:SampleTimerBinding">
      <soap:address location="http://BUDD60169560A.dhcp.budl.sap.corp:52900/SimpleTimerServices/SampleTimer"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
