SC_SFDC/nobelbiocare.com/p_sfdc/pr/pm/re/prdmix/_comp/src/wsdl/MI288_BPM_GetJobResult_os.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:p2="http://www.force.com/2009/06/asyncapi/dataload" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI288_BPM_GetJobResult_os" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>3e0694f903dd11e7a5b40000005f8a66</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="chpeji"/>
      <changed by="chpeji" on="1488963442304"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="561cc7e7fc8530659514e712b0b43ab7"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="MI288_BPM_GetJobResult_os">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="xmln.ExternalSFDCJob">
        <ifw:messType>ifmextmes</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ED_CVM_ExternalJob_Query</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:elem>
          <ifw:elem id="SUBNAME">ExternalSFDCJob</ifw:elem>
          <ifw:elem id="SUBNAMESPACE"/>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:technicalNamespace>
        <ifw:VersionID>f71b1028f7b911e6a1230000005f8a66</ifw:VersionID>
      </ifw:message>
      <ifw:message name="p2.aggregateJobResult">
        <ifw:messType>ifmextmes</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ED_CVM_AggregateJobResult</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:elem>
          <ifw:elem id="SUBNAME">aggregateJobResult</ifw:elem>
          <ifw:elem id="SUBNAMESPACE">http://www.force.com/2009/06/asyncapi/dataload</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:technicalNamespace>
        <ifw:VersionID>d538bea403dc11e7a90b0000005f8a66</ifw:VersionID>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
        <ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_561cc7e7fc8530659514e712b0b43ab7_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/SFDC/Revenue</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_MI288_BPM_GetJobResult_os"/>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ExternalSFDCJob" type="ExternalSFDCJobQuery"/>
      <xsd:complexType name="ExternalSFDCJobQuery">
        <xsd:sequence>
          <xsd:element name="ObjectType" type="xsd:string"/>
          <xsd:element name="Operation" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Condition" type="xsd:string"/>
          <xsd:element minOccurs="0" name="sObjects" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.force.com/2009/06/asyncapi/dataload" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.force.com/2009/06/asyncapi/dataload">
      <xsd:element name="aggregateJobResult" type="aggregateJobResultType"/>
      <xsd:complexType name="batchInfoType">
        <xsd:sequence>
          <xsd:element form="qualified" name="id" type="xsd:string"/>
          <xsd:element form="qualified" name="jobId" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="state" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="stateMessage" type="xsd:string"/>
          <xsd:element form="qualified" name="createdDate" type="xsd:dateTime"/>
          <xsd:element form="qualified" minOccurs="0" name="systemModstamp" type="xsd:dateTime"/>
          <xsd:element form="qualified" name="numberRecordsProcessed" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberRecordsFailed" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="totalProcessingTime" type="xsd:long"/>
          <xsd:element form="qualified" minOccurs="0" name="apiActiveProcessingTime" type="xsd:long"/>
          <xsd:element form="qualified" minOccurs="0" name="apexProcessingTime" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="aggregateBatchResultType">
        <xsd:sequence>
          <xsd:element form="qualified" name="batchInfo" type="batchInfoType"/>
          <xsd:element form="qualified" name="results" type="resultsType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResultErrorType">
        <xsd:sequence>
          <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="xsd:string"/>
          <xsd:element form="qualified" name="message" type="xsd:string"/>
          <xsd:element form="qualified" name="statusCode" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="aggregateJobResultType">
        <xsd:sequence>
          <xsd:element form="qualified" minOccurs="0" name="externalJobId" type="xsd:string"/>
          <xsd:element form="qualified" name="status" type="xsd:string"/>
          <xsd:element form="qualified" name="jobInfo" type="jobInfoType"/>
          <xsd:element form="qualified" name="aggregateBatchResults" type="aggregateBatchResultsType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="resultType">
        <xsd:sequence>
          <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="errors" type="ResultErrorType"/>
          <xsd:element form="qualified" minOccurs="0" name="id" type="xsd:string"/>
          <xsd:element form="qualified" name="success" type="xsd:boolean"/>
          <xsd:element form="qualified" name="created" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="aggregateBatchResultsType">
        <xsd:sequence>
          <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="aggregateBatchResult" type="aggregateBatchResultType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="jobInfoType">
        <xsd:sequence>
          <xsd:element form="qualified" minOccurs="0" name="id" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="operation" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="object" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="createdById" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <xsd:element form="qualified" minOccurs="0" name="systemModstamp" type="xsd:dateTime"/>
          <xsd:element form="qualified" minOccurs="0" name="state" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="externalIdFieldName" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="concurrencyMode" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="contentType" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="numberBatchesQueued" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberBatchesInProgress" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberBatchesCompleted" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberBatchesFailed" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberBatchesTotal" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberRecordsProcessed" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberRetries" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="apiVersion" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="assignmentRuleId" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="numberRecordsFailed" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="totalProcessingTime" type="xsd:long"/>
          <xsd:element form="qualified" minOccurs="0" name="apiActiveProcessingTime" type="xsd:long"/>
          <xsd:element form="qualified" minOccurs="0" name="apexProcessingTime" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="resultsType">
        <xsd:sequence>
          <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="result" type="resultType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="xmln.ExternalSFDCJob">
    <wsdl:documentation/>
    <wsdl:part element="ExternalSFDCJob" name="ExternalSFDCJob"/>
  </wsdl:message>
  <wsdl:message name="p2.aggregateJobResult">
    <wsdl:documentation/>
    <wsdl:part element="p2:aggregateJobResult" name="aggregateJobResult"/>
  </wsdl:message>
  <wsdl:portType name="MI288_BPM_GetJobResult_os">
    <wsdl:documentation/>
    <wsdl:operation name="MI288_BPM_GetJobResult_os">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_MI288_BPM_GetJobResult_os"/>
      </wsp:Policy>
      <wsdl:input message="p1:xmln.ExternalSFDCJob"/>
      <wsdl:output message="p1:p2.aggregateJobResult"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI288_BPM_GetJobResult_osBinding" type="p1:MI288_BPM_GetJobResult_os">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MI288_BPM_GetJobResult_os">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
