SC_SFDC/nobelbiocare.com/p_sfdc/pr/pm/re/prdmix/_comp/src/wsdl/MI283_BPM_ProductMixPerformanceBudget_Bulk_os.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:p2="http://www.force.com/2009/06/asyncapi/dataload" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MI283_BPM_ProductMixPerformanceBudget_Bulk_os" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>e40552aff9f111e6b8510000005f8a66</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="chpeji"/>
      <changed by="chpeji" on="1487872798114"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="c98a116e651b328da7094ded50653e9a"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="MI283_BPM_ProductMixPerformanceBudget_Bulk_os">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="MT_GCVMPRDMD">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_GCVMPRDMD</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:technicalNamespace>
        <ifw:VersionID>de14735ff2bd11e683660000005f8a66</ifw:VersionID>
        <ifw:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:xmlNamespace>
        <ifw:dataType name="DT_GCVMPRDMD" namespace="http://nobelbiocare.com/BPM/SFDC/Revenue" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_GCVMPRDMD~namespace=http://nobelbiocare.com/BPM/SFDC/Revenue~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"/>
      </ifw:message>
      <ifw:message name="p2.jobInfo">
        <ifw:messType>ifmextmes</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ED_CVM_AsyncAPI</ifw:elem>
          <ifw:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:elem>
          <ifw:elem id="SUBNAME">jobInfo</ifw:elem>
          <ifw:elem id="SUBNAMESPACE">http://www.force.com/2009/06/asyncapi/dataload</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ifw:technicalNamespace>
        <ifw:VersionID>7109205ef7b911e696020000005f8a66</ifw:VersionID>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>dc2258106ad711e697b4e1ec0a3e5c13</ifw:guid>
        <ifw:name>BPM, 1.0 of nobelbiocare.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_c98a116e651b328da7094ded50653e9a_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/SFDC/Revenue</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_MI283_BPM_ProductMixPerformanceBudget_Bulk_os"/>
  <wsdl:types>
    <xsd:schema xmlns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:element name="MT_GCVMPRDMD" type="DT_GCVMPRDMD"/>
      <xsd:complexType name="DT_GCVMPRDMD">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">CVM Product Mix Data</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="CORRELATION" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Correlation id</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DELTA" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>'X' for delta load, full load otherwise</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NUMBER" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Specifies the message number</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TOTAL" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Messages total</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="BULK" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Use Bulk API</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ROW">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="CUSTOMER" type="xsd:string"/>
                <xsd:element minOccurs="0" name="MATERIAL" type="xsd:string"/>
                <xsd:element minOccurs="0" name="FISCPER" type="xsd:string"/>
                <xsd:element minOccurs="0" name="SALESORG" type="xsd:string"/>
                <xsd:element minOccurs="0" name="CURRENCY" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GAMT161" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GAMT221" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GQTY015" type="xsd:string"/>
                <xsd:element minOccurs="0" name="UNIT" type="xsd:string"/>
                <xsd:element minOccurs="0" name="FISCVARNT" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BIC_GPERDAY01" type="xsd:string"/>
                <xsd:element minOccurs="0" name="PRODUCT" type="xsd:string"/>
                <xsd:element minOccurs="0" name="ERROR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>Rejection error</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.force.com/2009/06/asyncapi/dataload" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.force.com/2009/06/asyncapi/dataload">
      <xsd:element name="jobInfo" type="JobInfo"/>
      <xsd:simpleType name="ContentType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="XML"/>
          <xsd:enumeration value="CSV"/>
          <xsd:enumeration value="ZIP_XML"/>
          <xsd:enumeration value="ZIP_CSV"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="OperationEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="insert"/>
          <xsd:enumeration value="upsert"/>
          <xsd:enumeration value="update"/>
          <xsd:enumeration value="delete"/>
          <xsd:enumeration value="hardDelete"/>
          <xsd:enumeration value="query"/>
          <xsd:enumeration value="queryAll"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="JobStateEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Open"/>
          <xsd:enumeration value="Closed"/>
          <xsd:enumeration value="Aborted"/>
          <xsd:enumeration value="Failed"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ConcurrencyModeEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Parallel"/>
          <xsd:enumeration value="Serial"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="JobInfo">
        <xsd:sequence>
          <xsd:element form="qualified" minOccurs="0" name="id" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="operation" type="OperationEnum"/>
          <xsd:element form="qualified" minOccurs="0" name="object" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="createdById" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="createdDate" type="xsd:dateTime"/>
          <xsd:element form="qualified" minOccurs="0" name="systemModstamp" type="xsd:dateTime"/>
          <xsd:element form="qualified" minOccurs="0" name="state" type="JobStateEnum"/>
          <xsd:element form="qualified" minOccurs="0" name="externalIdFieldName" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="concurrencyMode" type="ConcurrencyModeEnum"/>
          <xsd:element form="qualified" minOccurs="0" name="contentType" type="ContentType"/>
          <xsd:element form="qualified" minOccurs="0" name="numberBatchesQueued" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberBatchesInProgress" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberBatchesCompleted" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberBatchesFailed" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberBatchesTotal" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberRecordsProcessed" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="numberRetries" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="apiVersion" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="assignmentRuleId" type="xsd:string"/>
          <xsd:element form="qualified" minOccurs="0" name="numberRecordsFailed" type="xsd:int"/>
          <xsd:element form="qualified" minOccurs="0" name="totalProcessingTime" type="xsd:long"/>
          <xsd:element form="qualified" minOccurs="0" name="apiActiveProcessingTime" type="xsd:long"/>
          <xsd:element form="qualified" minOccurs="0" name="apexProcessingTime" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_GCVMPRDMD">
    <wsdl:documentation>CVM Product Mix Data</wsdl:documentation>
    <wsdl:part element="p1:MT_GCVMPRDMD" name="MT_GCVMPRDMD"/>
  </wsdl:message>
  <wsdl:message name="p2.jobInfo">
    <wsdl:documentation/>
    <wsdl:part element="p2:jobInfo" name="jobInfo"/>
  </wsdl:message>
  <wsdl:portType name="MI283_BPM_ProductMixPerformanceBudget_Bulk_os">
    <wsdl:documentation/>
    <wsdl:operation name="MI283_BPM_ProductMixPerformanceBudget_Bulk_os">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_MI283_BPM_ProductMixPerformanceBudget_Bulk_os"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_GCVMPRDMD"/>
      <wsdl:output message="p1:p2.jobInfo"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI283_BPM_ProductMixPerformanceBudget_Bulk_osBinding" type="p1:MI283_BPM_ProductMixPerformanceBudget_Bulk_os">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MI283_BPM_ProductMixPerformanceBudget_Bulk_os">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
