t/FD449B65B893F340B4E164E42BB5BCF2/tmp/wsdls/nobelbiocare.com~p_sfdc~pr~pm~re~prdmix/MI283_BPM_ProductMixPerformanceBudget_Bulk_os.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue" name="MI283_BPM_ProductMixPerformanceBudget_Bulk_os" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns1:UsingPolicy>
  <ns2:properties xmlns:ns2="urn:com-sap:ifr:v2:wsdl">
    <ns2:category>ifmmessif</ns2:category>
    <ns2:VersionID>e40552aff9f111e6b8510000005f8a66</ns2:VersionID>
    <ns2:lifeCycleInfo>
      <objectState></objectState>
      <objectstatus value="A"></objectstatus>
      <personresponsible value="chpeji"></personresponsible>
      <changed by="chpeji" on="1487872798114"></changed>
    </ns2:lifeCycleInfo>
    <ns2:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"></ns2:runtimeVersion>
    <ns2:communicationProfile uri="prf_dt_if_com_stateless"></ns2:communicationProfile>
    <ns2:securityProfile uri="prf_dt_if_sec_basic"></ns2:securityProfile>
    <ns2:interfacePattern p2p="true"></ns2:interfacePattern>
    <ns2:isSensitiveData>false</ns2:isSensitiveData>
    <ns2:classifications>
      <ns2:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"></ns2:classification>
      <ns2:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="c98a116e651b328da7094ded50653e9a"></ns2:classification>
    </ns2:classifications>
    <ns2:additionalAttributes></ns2:additionalAttributes>
    <ns2:methods>
      <ns2:method name="MI283_BPM_ProductMixPerformanceBudget_Bulk_os">
        <ns2:isSynchron>true</ns2:isSynchron>
        <ns2:isIdempotent>false</ns2:isIdempotent>
        <ns2:isInbound>false</ns2:isInbound>
        <ns2:interfaceCategory>outbound</ns2:interfaceCategory>
        <ns2:communicationProfile uri="prf_dt_op_com_sync"></ns2:communicationProfile>
        <ns2:contextobjects></ns2:contextobjects>
      </ns2:method>
    </ns2:methods>
    <ns2:messages>
      <ns2:message name="MT_GCVMPRDMD">
        <ns2:messType>ifmmessage</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">MT_GCVMPRDMD</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ns2:technicalNamespace>
        <ns2:VersionID>de14735ff2bd11e683660000005f8a66</ns2:VersionID>
        <ns2:xmlNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ns2:xmlNamespace>
        <ns2:dataType name="DT_GCVMPRDMD" namespace="http://nobelbiocare.com/BPM/SFDC/Revenue" swcvId="dc2258106ad711e697b4e1ec0a3e5c13" uri="name=DT_GCVMPRDMD~namespace=http://nobelbiocare.com/BPM/SFDC/Revenue~swcvId=dc2258106ad711e697b4e1ec0a3e5c13"></ns2:dataType>
      </ns2:message>
      <ns2:message name="p2.jobInfo">
        <ns2:messType>ifmextmes</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">ED_CVM_AsyncAPI</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/BPM/SFDC/Revenue</ns2:elem>
          <ns2:elem id="SUBNAME">jobInfo</ns2:elem>
          <ns2:elem id="SUBNAMESPACE">http://www.force.com/2009/06/asyncapi/dataload</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/BPM/SFDC/Revenue</ns2:technicalNamespace>
        <ns2:VersionID>7109205ef7b911e696020000005f8a66</ns2:VersionID>
      </ns2:message>
    </ns2:messages>
    <ns2:matchingInterfaces></ns2:matchingInterfaces>
    <ns2:genericProperties>
      <ns2:swcvinfo>
        <ns2:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns2:guid>
        <ns2:name>BPM, 1.0 of nobelbiocare.com</ns2:name>
      </ns2:swcvinfo>
      <ns2:languages>
        <ns2:language internalCode="EN" original="true"></ns2:language>
      </ns2:languages>
      <ns2:documentation type="I">
        <name>_ID_c98a116e651b328da7094ded50653e9a_ifmmessif</name>
        <namespace>http://nobelbiocare.com/BPM/SFDC/Revenue</namespace>
      </ns2:documentation>
    </ns2:genericProperties>
  </ns2:properties>
  <ns3:Policy xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/09/policy" ns4:Id="OP_MI283_BPM_ProductMixPerformanceBudget_Bulk_os" xmlns:ns4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"></ns3:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:complexType name="DT_GCVMPRDMD">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">CVM Product Mix Data</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="CORRELATION" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Correlation id</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DELTA" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>'X' for delta load, full load otherwise</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NUMBER" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Specifies the message number</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TOTAL" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Messages total</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BULK" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Use Bulk API</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ROW" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="CUSTOMER" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="MATERIAL" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="FISCPER" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="SALESORG" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="CURRENCY" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GAMT161" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GAMT221" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GQTY015" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="UNIT" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="FISCVARNT" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GPERDAY01" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="PRODUCT" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="ERROR" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Rejection error</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MT_GCVMPRDMD" type="tns:DT_GCVMPRDMD"></xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.force.com/2009/06/asyncapi/dataload" xmlns:tns="http://www.force.com/2009/06/asyncapi/dataload">
      <xsd:simpleType name="ContentType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="XML"></xsd:enumeration>
          <xsd:enumeration value="CSV"></xsd:enumeration>
          <xsd:enumeration value="ZIP_XML"></xsd:enumeration>
          <xsd:enumeration value="ZIP_CSV"></xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="OperationEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="insert"></xsd:enumeration>
          <xsd:enumeration value="upsert"></xsd:enumeration>
          <xsd:enumeration value="update"></xsd:enumeration>
          <xsd:enumeration value="delete"></xsd:enumeration>
          <xsd:enumeration value="hardDelete"></xsd:enumeration>
          <xsd:enumeration value="query"></xsd:enumeration>
          <xsd:enumeration value="queryAll"></xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="JobStateEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Open"></xsd:enumeration>
          <xsd:enumeration value="Closed"></xsd:enumeration>
          <xsd:enumeration value="Aborted"></xsd:enumeration>
          <xsd:enumeration value="Failed"></xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ConcurrencyModeEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Parallel"></xsd:enumeration>
          <xsd:enumeration value="Serial"></xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="JobInfo">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:string" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="operation" type="tns:OperationEnum" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="object" type="xsd:string" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="createdById" type="xsd:string" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="createdDate" type="xsd:dateTime" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="systemModstamp" type="xsd:dateTime" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="state" type="tns:JobStateEnum" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="externalIdFieldName" type="xsd:string" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="concurrencyMode" type="tns:ConcurrencyModeEnum" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="contentType" type="tns:ContentType" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="numberBatchesQueued" type="xsd:int" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="numberBatchesInProgress" type="xsd:int" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="numberBatchesCompleted" type="xsd:int" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="numberBatchesFailed" type="xsd:int" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="numberBatchesTotal" type="xsd:int" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="numberRecordsProcessed" type="xsd:int" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="numberRetries" type="xsd:int" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="apiVersion" type="xsd:string" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="assignmentRuleId" type="xsd:string" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="numberRecordsFailed" type="xsd:int" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="totalProcessingTime" type="xsd:long" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="apiActiveProcessingTime" type="xsd:long" minOccurs="0" form="qualified"></xsd:element>
          <xsd:element name="apexProcessingTime" type="xsd:long" minOccurs="0" form="qualified"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="jobInfo" type="tns:JobInfo"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_GCVMPRDMD">
    <wsdl:part name="MT_GCVMPRDMD" element="tns:MT_GCVMPRDMD"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="p2.jobInfo">
    <wsdl:part name="jobInfo" xmlns:ns5="http://www.force.com/2009/06/asyncapi/dataload" element="ns5:jobInfo"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MI283_BPM_ProductMixPerformanceBudget_Bulk_os">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="MI283_BPM_ProductMixPerformanceBudget_Bulk_os">
      <wsdl:documentation></wsdl:documentation>
      <ns6:Policy xmlns:ns6="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns6:PolicyReference URI="#OP_MI283_BPM_ProductMixPerformanceBudget_Bulk_os"></ns6:PolicyReference>
      </ns6:Policy>
      <wsdl:input message="tns:MT_GCVMPRDMD"></wsdl:input>
      <wsdl:output message="tns:p2.jobInfo"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MI283_BPM_ProductMixPerformanceBudget_Bulk_osBinding" type="tns:MI283_BPM_ProductMixPerformanceBudget_Bulk_os">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="MI283_BPM_ProductMixPerformanceBudget_Bulk_os">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
