t/FD449B65B893F340B4E164E42BB5BCF2/tmp/wsdls/nobelbiocare.com~p_sfdc~pr~pm~re~prdmix/OM_ProdMix_Reject.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/BPM/SFDC/Revenue" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:properties xmlns:ns1="urn:com-sap:ifr:v2:wsdl">
		<ns1:genericProperties>
			<ns1:swcvinfo>
				<ns1:guid>dc2258106ad711e697b4e1ec0a3e5c13</ns1:guid>
				<ns1:name>BPM, 1.0 of nobelbiocare.com</ns1:name>
			</ns1:swcvinfo>
			<ns1:ominfo>
				<ns1:guid>a147b55bd6883d74a3e458c27a4d4dbb</ns1:guid>
			</ns1:ominfo>
		</ns1:genericProperties>
	</ns1:properties>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nobelbiocare.com/BPM/SFDC/Revenue">
      <xsd:complexType name="DT_Results">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">007916a5eedb11e6999e0000005f8a66</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Result" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a259deb4eee811e6c3760205857feb80</xsd:appinfo>
              <xsd:documentation></xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="success" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a259deb2eee811e6b67e0205857feb80</xsd:appinfo>
                    <xsd:documentation></xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="statuscode" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a259deb3eee811e68b950205857feb80</xsd:appinfo>
                    <xsd:documentation></xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_ProductMix_Results">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">3c00900af9f011e6a0fe0000005f8a66</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ProductMix" type="tns:DT_GCVMPRDMD">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">50e18616f9f011e699d70205857feb80</xsd:appinfo>
              <xsd:documentation></xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Results" type="tns:DT_Results">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">50e18617f9f011e6c40b0205857feb80</xsd:appinfo>
              <xsd:documentation></xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_GCVMPRDMD">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">CVM Product Mix Data</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="CORRELATION" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Correlation id</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DELTA" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>'X' for delta load, full load otherwise</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NUMBER" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Specifies the message number</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TOTAL" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Messages total</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BULK" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Use Bulk API</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ROW" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="CUSTOMER" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="MATERIAL" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="FISCPER" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="SALESORG" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="CURRENCY" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GAMT161" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GAMT221" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GQTY015" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="UNIT" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="FISCVARNT" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="BIC_GPERDAY01" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="PRODUCT" type="xsd:string" minOccurs="0"></xsd:element>
                <xsd:element name="ERROR" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Rejection error</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MT_ProductMix_Results" type="tns:DT_ProductMix_Results"></xsd:element>
      <xsd:element name="MT_GCVMPRDMD" type="tns:DT_GCVMPRDMD"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OMRequestMessage">
    <wsdl:part name="MT_ProductMix_Results" element="tns:MT_ProductMix_Results"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="OMResponseMessage">
    <wsdl:part name="MT_GCVMPRDMD" element="tns:MT_GCVMPRDMD"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="nobelbiocarecom_p_sfdcprpmreprdmix_OM_ProdMix_RejectPortType">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="OM_ProdMix_Reject">
      <wsdl:input message="tns:OMRequestMessage"></wsdl:input>
      <wsdl:output message="tns:OMResponseMessage"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OM_ProdMix_RejectBinding" type="tns:nobelbiocarecom_p_sfdcprpmreprdmix_OM_ProdMix_RejectPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="OM_ProdMix_Reject">
      <soap:operation></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="nobelbiocare_com_p_sfdc_pr_pm_re_prdmix_OM_ProdMix_Reject_Service">
    <wsdl:port name="nobelbiocarecom_p_sfdcprpmreprdmix_OM_ProdMix_RejectPortType" binding="tns:OM_ProdMix_RejectBinding">
      <soap:address location="http://localhost:50500/nobelbiocare.com~p_sfdc/pr/pm/re/prdmix/wsdl/OM_ProdMix_Reject"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
