t/72C382DADBCB2D611801E70CE19236D7/tmp/wsdls/nobelbiocare.com~po_salesforce_02~pr~pm/MIZ050C_TravelOD_contacts_Resp_EnhancedSAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nobelbiocare.com/Salesforce/Contacts" name="MIZ050C_TravelOD_contacts_Resp_EnhancedSAP" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nobelbiocare.com/Salesforce/Contacts" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:documentation></wsdl:documentation>
  <ns1:UsingPolicy xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy" wsdl:required="true"></ns1:UsingPolicy>
  <ns2:properties xmlns:ns2="urn:com-sap:ifr:v2:wsdl">
    <ns2:category>ifmmessif</ns2:category>
    <ns2:VersionID>47cfb44de8ac11e2a96f00001e568b5a</ns2:VersionID>
    <ns2:lifeCycleInfo>
      <objectState></objectState>
      <objectstatus value="A"></objectstatus>
      <personresponsible value="chdaro"></personresponsible>
      <changed by="chdaro" on="1373383787153"></changed>
    </ns2:lifeCycleInfo>
    <ns2:communicationProfile uri="prf_dt_if_com_stateless"></ns2:communicationProfile>
    <ns2:securityProfile uri="prf_dt_if_sec_low"></ns2:securityProfile>
    <ns2:interfacePattern p2p="false">L</ns2:interfacePattern>
    <ns2:isSensitiveData>false</ns2:isSensitiveData>
    <ns2:classifications>
      <ns2:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"></ns2:classification>
      <ns2:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="d3dcb1921c0b3cb5bc770ae7e7b3e598"></ns2:classification>
    </ns2:classifications>
    <ns2:additionalAttributes></ns2:additionalAttributes>
    <ns2:methods>
      <ns2:method name="MIZ050_TravelOD_contacts">
        <ns2:isSynchron>false</ns2:isSynchron>
        <ns2:isIdempotent>false</ns2:isIdempotent>
        <ns2:isInbound>false</ns2:isInbound>
        <ns2:interfaceCategory>abstract</ns2:interfaceCategory>
        <ns2:communicationProfile uri="prf_dt_op_com_async"></ns2:communicationProfile>
        <ns2:lifeCycleInfo>
          <objectState></objectState>
        </ns2:lifeCycleInfo>
        <ns2:contextobjects></ns2:contextobjects>
      </ns2:method>
    </ns2:methods>
    <ns2:messages>
      <ns2:message name="p1.p2.CustomerBundleMaintainConfirmation_sync_V1">
        <ns2:messType>ifmextmes</ns2:messType>
        <ns2:keyElements>
          <ns2:elem id="NAME">ED_CONTACTS_RESULT_PROXY</ns2:elem>
          <ns2:elem id="NAMESPACE">http://nobelbiocare.com/Salesforce/Contacts</ns2:elem>
          <ns2:elem id="SUBNAME">p2.CustomerBundleMaintainConfirmation_sync_V1</ns2:elem>
          <ns2:elem id="SUBNAMESPACE">http://nobelbiocare.com/Salesforce/Contacts</ns2:elem>
        </ns2:keyElements>
        <ns2:technicalNamespace>http://nobelbiocare.com/Salesforce/Contacts</ns2:technicalNamespace>
        <ns2:VersionID>081ca6ca882511e3a1e300001e568b5a</ns2:VersionID>
      </ns2:message>
    </ns2:messages>
    <ns2:matchingInterfaces></ns2:matchingInterfaces>
    <ns2:genericProperties>
      <ns2:swcvinfo>
        <ns2:guid>255c5620454211deb95ee197c2581f67</ns2:guid>
        <ns2:name>SALESFORCE 1.0 of salesforce.com</ns2:name>
      </ns2:swcvinfo>
      <ns2:languages>
        <ns2:language internalCode="EN" original="true"></ns2:language>
      </ns2:languages>
      <ns2:documentation type="I">
        <name>_ID_d3dcb1921c0b3cb5bc770ae7e7b3e598_ifmmessif</name>
        <namespace>http://nobelbiocare.com/Salesforce/Contacts</namespace>
      </ns2:documentation>
    </ns2:genericProperties>
  </ns2:properties>
  <ns3:Policy xmlns:ns3="http://schemas.xmlsoap.org/ws/2004/09/policy" ns4:Id="OP_MIZ050_TravelOD_contacts" xmlns:ns4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"></ns3:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns:tns="http://sap.com/xi/SAPGlobal20/Global" xmlns:ns5="http://sap.com/xi/A1S/Global">
      <xsd:import namespace="http://sap.com/xi/A1S/Global"></xsd:import>
      <xsd:element name="CustomerBundleMaintainConfirmation_sync_V1" type="ns5:CustomerBundleMaintainConfirmationMessage_sync_V1"></xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://sap.com/xi/AP/Common/GDT" xmlns:tns2="http://sap.com/xi/AP/Common/GDT" xmlns:ns6="http://sap.com/xi/BASIS/Global">
      <xsd:import namespace="http://sap.com/xi/BASIS/Global"></xsd:import>
      <xsd:complexType name="ContactsList">
        <xsd:sequence>
          <xsd:element name="ContactID" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="CountryCode" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="NPID" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns7:RepresentationTerm xmlns:ns7="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Name</ns7:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"></xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="BusinessPartnerInternalID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns8:RepresentationTerm xmlns:ns8="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ns8:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WebURI">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns9:RepresentationTerm xmlns:ns9="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">URI</ns9:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:anyURI"></xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="UUID.Content">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="36"></xsd:maxLength>
          <xsd:minLength value="36"></xsd:minLength>
          <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"></xsd:pattern>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogItemNoteTemplateText">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns10:RepresentationTerm xmlns:ns10="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Text</ns10:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="73"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogItemTemplatePlaceholderID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns11:RepresentationTerm xmlns:ns11="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ns11:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:length value="1"></xsd:length>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogItemPlaceholderSubstitutionText">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns12:RepresentationTerm xmlns:ns12="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Text</ns12:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogItemNote">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns13:RepresentationTerm xmlns:ns13="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Note</ns13:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="200"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogItemSeverityCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns14:RepresentationTerm xmlns:ns14="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ns14:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="1"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ObjectNodePartyTechnicalID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns15:RepresentationTerm xmlns:ns15="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ns15:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="70"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogItemTypeID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns16:RepresentationTerm xmlns:ns16="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ns16:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="40"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ChangeStateID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns17:RepresentationTerm xmlns:ns17="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ns17:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="40"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogItemCategoryCode.Content">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="15"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ProcessingResultCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns18:RepresentationTerm xmlns:ns18="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ns18:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="2"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="LogItem">
        <xsd:sequence>
          <xsd:element name="TypeID" type="tns2:LogItemTypeID" minOccurs="0"></xsd:element>
          <xsd:element name="CategoryCode" type="tns2:LogItemCategoryCode" minOccurs="0"></xsd:element>
          <xsd:element name="SeverityCode" type="tns2:LogItemSeverityCode" minOccurs="0"></xsd:element>
          <xsd:element name="ReferenceObjectNodeSenderTechnicalID" type="tns2:ObjectNodePartyTechnicalID" minOccurs="0"></xsd:element>
          <xsd:element name="ReferenceMessageElementName" type="tns2:LANGUAGEINDEPENDENT_Name" minOccurs="0"></xsd:element>
          <xsd:element name="Note" type="tns2:LogItemNote"></xsd:element>
          <xsd:element name="NoteTemplateText" type="tns2:LogItemNoteTemplateText" minOccurs="0"></xsd:element>
          <xsd:element name="LogItemNotePlaceholderSubstitutionList" type="tns2:LogItemNotePlaceholderSubstitutionList" minOccurs="0"></xsd:element>
          <xsd:element name="WebURI" type="tns2:WebURI" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LogItemCategoryCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns19:RepresentationTerm xmlns:ns19="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ns19:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="tns2:LogItemCategoryCode.Content">
            <xsd:attribute name="listID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"></xsd:maxLength>
                  <xsd:minLength value="1"></xsd:minLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listVersionID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="15"></xsd:maxLength>
                  <xsd:minLength value="1"></xsd:minLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"></xsd:maxLength>
                  <xsd:minLength value="1"></xsd:minLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"></xsd:maxLength>
                  <xsd:minLength value="1"></xsd:minLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeAgencyID" type="ns6:AgencyIdentificationCode"></xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="LogItemNotePlaceholderSubstitutionList">
        <xsd:sequence>
          <xsd:element name="FirstPlaceholderID" type="tns2:LogItemTemplatePlaceholderID"></xsd:element>
          <xsd:element name="SecondPlaceholderID" type="tns2:LogItemTemplatePlaceholderID" minOccurs="0"></xsd:element>
          <xsd:element name="ThirdPlaceholderID" type="tns2:LogItemTemplatePlaceholderID" minOccurs="0"></xsd:element>
          <xsd:element name="FourthPlaceholderID" type="tns2:LogItemTemplatePlaceholderID" minOccurs="0"></xsd:element>
          <xsd:element name="FirstPlaceholderSubstitutionText" type="tns2:LogItemPlaceholderSubstitutionText"></xsd:element>
          <xsd:element name="SecondPlaceholderSubstitutionText" type="tns2:LogItemPlaceholderSubstitutionText" minOccurs="0"></xsd:element>
          <xsd:element name="ThirdPlaceholderSubstitutionText" type="tns2:LogItemPlaceholderSubstitutionText" minOccurs="0"></xsd:element>
          <xsd:element name="FourthPlaceholderSubstitutionText" type="tns2:LogItemPlaceholderSubstitutionText" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Log">
        <xsd:sequence>
          <xsd:element name="BusinessDocumentProcessingResultCode" type="tns2:ProcessingResultCode" minOccurs="0"></xsd:element>
          <xsd:element name="MaximumLogItemSeverityCode" type="tns2:LogItemSeverityCode" minOccurs="0"></xsd:element>
          <xsd:element name="Item" type="tns2:LogItem" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UUID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns20:RepresentationTerm xmlns:ns20="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ns20:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="tns2:UUID.Content">
            <xsd:attribute name="schemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"></xsd:maxLength>
                  <xsd:minLength value="1"></xsd:minLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"></xsd:maxLength>
                  <xsd:minLength value="1"></xsd:minLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema targetNamespace="http://sap.com/xi/A1S/Global" xmlns:tns3="http://sap.com/xi/A1S/Global" xmlns:ns21="http://sap.com/xi/AP/Common/GDT">
      <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"></xsd:import>
      <xsd:complexType name="CustomerMaintainConfirmationBundleCustomer_V1">
        <xsd:sequence>
          <xsd:element name="InternalID" type="ns21:BusinessPartnerInternalID"></xsd:element>
          <xsd:element name="UUID" type="ns21:UUID"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="ReferenceObjectNodeSenderTechnicalID" type="ns21:ObjectNodePartyTechnicalID" use="required"></xsd:attribute>
        <xsd:attribute name="ChangeStateID" type="ns21:ChangeStateID" use="required"></xsd:attribute>
      </xsd:complexType>
      <xsd:complexType name="CustomerBundleMaintainConfirmationMessage_sync_V1">
        <xsd:sequence>
          <xsd:element name="QueryID" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="SubQueryID" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="Size" type="xsd:integer" minOccurs="0"></xsd:element>
          <xsd:element name="BatchSize" type="xsd:integer" minOccurs="0"></xsd:element>
          <xsd:element name="QuerySource" type="xsd:string" minOccurs="0"></xsd:element>
          <xsd:element name="Customer" type="tns3:CustomerMaintainConfirmationBundleCustomer_V1" minOccurs="0" maxOccurs="unbounded"></xsd:element>
          <xsd:element name="Log" type="ns21:Log"></xsd:element>
          <xsd:element name="ContactsList" type="ns21:ContactsList" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema targetNamespace="http://sap.com/xi/BASIS/Global" xmlns:tns4="http://sap.com/xi/BASIS/Global">
      <xsd:simpleType name="AgencyIdentificationCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ns22:RepresentationTerm xmlns:ns22="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ns22:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="1"></xsd:enumeration>
          <xsd:enumeration value="5"></xsd:enumeration>
          <xsd:enumeration value="6"></xsd:enumeration>
          <xsd:enumeration value="16"></xsd:enumeration>
          <xsd:enumeration value="17"></xsd:enumeration>
          <xsd:enumeration value="84"></xsd:enumeration>
          <xsd:enumeration value="107"></xsd:enumeration>
          <xsd:enumeration value="109"></xsd:enumeration>
          <xsd:enumeration value="112"></xsd:enumeration>
          <xsd:enumeration value="113"></xsd:enumeration>
          <xsd:enumeration value="114"></xsd:enumeration>
          <xsd:enumeration value="116"></xsd:enumeration>
          <xsd:enumeration value="117"></xsd:enumeration>
          <xsd:enumeration value="124"></xsd:enumeration>
          <xsd:enumeration value="130"></xsd:enumeration>
          <xsd:enumeration value="131"></xsd:enumeration>
          <xsd:enumeration value="138"></xsd:enumeration>
          <xsd:enumeration value="142"></xsd:enumeration>
          <xsd:enumeration value="146"></xsd:enumeration>
          <xsd:enumeration value="262"></xsd:enumeration>
          <xsd:enumeration value="296"></xsd:enumeration>
          <xsd:enumeration value="310"></xsd:enumeration>
          <xsd:maxLength value="3"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p1.p2.CustomerBundleMaintainConfirmation_sync_V1">
    <wsdl:part name="CustomerBundleMaintainConfirmation_sync_V1" xmlns:ns23="http://sap.com/xi/SAPGlobal20/Global" element="ns23:CustomerBundleMaintainConfirmation_sync_V1"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MIZ050C_TravelOD_contacts_Resp_EnhancedSAP">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:operation name="MIZ050_TravelOD_contacts">
      <wsdl:documentation></wsdl:documentation>
      <ns24:Policy xmlns:ns24="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <ns24:PolicyReference URI="#OP_MIZ050_TravelOD_contacts"></ns24:PolicyReference>
      </ns24:Policy>
      <wsdl:input message="tns:p1.p2.CustomerBundleMaintainConfirmation_sync_V1"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MIZ050C_TravelOD_contacts_Resp_EnhancedSAPBinding" type="tns:MIZ050C_TravelOD_contacts_Resp_EnhancedSAP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="MIZ050_TravelOD_contacts">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
